<div class="page-header">
  <h1><%= fa_icon(:book, :text => "#{catalog.name} Data") %></h1>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render("catalog_admin/shared/entry_item_types_nav") %>
    <% if controller_name === 'items' && @item.present? && @item.suggestions.any? %>
      <%= render("catalog_admin/shared/suggestions") %>
    <% end %>
  </div>
  <div class="<%= content_for(:catalog_admin_width) || 'col-sm-9' %>">

    <%= yield(:extra_nav) %>

    <div class="card panel-default">
      <div class="card-header">
        <% if content_for?(:actions) %>
          <span class="pull-right"><%= content_for(:actions) %></span>
        <% end %>
        <%= content_for(:title) %>
      </div>
      <%= yield %>
    </div>
    <%= content_for(:pager) %>
  </div>
</div>

<% parent_layout "catalog_admin" %>
