<div class="page-header">
  <h1><%= fa_icon(:wrench, :text => "#{catalog.name} Setup") %></h1>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render("catalog_admin/shared/setup_item_types_nav") %>
    <%= render("catalog_admin/shared/setup_categories_nav") %>

    <hr>

    <ul class="list-group">
      <%= setup_catalog_choices_nav_link %>
      <%= setup_catalog_pages_nav_link %>
      <%= setup_catalog_menu_tiems_nav_link %>
      <%= setup_catalog_users_nav_link %>
      <%= setup_catalog_exports_nav_link %>
      <%= setup_catalog_advanced_searches_nav_link %>
    </ul>


    <div class="panel panel-default">
      <div class="panel-heading"><%= t('.catalog_settings') %></div>
      <ul class="list-group">
        <%= setup_catalog_settings_nav_link %>
        <%= setup_catalog_style_nav_link %>
      </ul>
    </div>

    <hr>

  </div>
  <div class="<%= content_for(:catalog_admin_width) || 'col-sm-9' %>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if content_for?(:actions) %>
          <span class="pull-right"><%= content_for(:actions) %></span>
        <% end %>
        <%= content_for(:title) %>
      </div>
      <%= yield %>
    </div>

    <%= yield(:extra_setup) %>
  </div>
</div>

<% parent_layout "catalog_admin" %>
