<div class="page-header">
  <h1><%= fa_icon(:wrench, :text => "#{catalog.name} Setup") %></h1>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render("catalog_admin/shared/item_types_nav") %>

    <hr>

    <ul class="list-group">
      <%= link_to("Options", "javascript:;", :class => "list-group-item") %>
      <%= link_to("Users", "javascript:;", :class => "list-group-item") %>
    </ul>
  </div>
  <div class="col-sm-9">
    <%= yield %>
  </div>
</div>

<% parent_layout "catalog_admin" %>
