<thead>
  <tr>
    <th style="width: 5em">Position</th>
    <th>Type</th>
    <th>Slug</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @page.containers.where(:locale => locale).sorted.each_with_index do |container, index| %>
    <tr>
      <td>
        <%= index + 1 %>
        <%= container_move_up_link(container) unless index == 0 %>
        <%= container_move_down_link(container) unless index == @page.containers.size - 1 %>
      </td>
      <td>
        <%= container.type_name %>
      </td>
      <td>
        <%= container.slug %>
      </td>
      <td class="text-right">
        <%= render "shared/actions/container", :model => container %>
      </td>
    </tr>
  <% end %>
</tbody>
