<% provide(:title, t('.edit_page')) %>

<% provide(:actions) do %>
  <%= link_to(t('.view_page'), page_path(@page), :target => '_blank') %>
<% end %>

<div class="card-body">
  <%= bootstrap_form_for(@page, :url => catalog_admin_page_path) do |f| %>

    <%= render("common_form_fields", :f => f) %>

    <hr>
    <%= f.primary(t('.update_page')) %>
    <%= link_to(
            t('cancel'),
            catalog_admin_pages_path,
            :class => "btn btn-link") %>

  <% end %>
</div>

<hr/>
<div class="card-body">

  <h4><%= t('.container_index') %></h4>

  <% @page.catalog.valid_locales.each do |locale| %>

    <div class="container-list" pid="containers-<%= locale %>">
      <div style="float: right;">
        <span class="dropdown">
          <button class="btn btn-xs btn-outline-secondary dropdown-toggle" type="button" id="add-field-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= fa_icon(:"plus-square", :text => t('catalog_admin.fields.index.add_field')) %>
          </button>
          <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="add-field-dropdown">
            <% Container.type_choices.each do |key, label| %>
              <%= link_to(
                      "#{label}",
                      new_catalog_admin_page_container_path(page_slug: @page.slug, type: key, l: locale),
                      class: "dropdown-item"
                  ) %>
            <% end %>
          </div>
        </span>
      </div>

      <div class="container-locale"><%= t("locales.#{locale}") %></div>

      <table id="container-table-<%= locale %>" class="table">
        <%= render("container_table", locale: locale) %>
      </table>
    </div>
  <% end %>

</div>
