<% provide(:title, "Pages") %>

<% provide(:actions) do %>
  <%= link_to(new_catalog_admin_page_path) do %>
    <%= fa_icon(:file, :text => "New page") %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Slug</th>
      <th>URL</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.slug %></td>
        <td><%= link_to(page_path(page), page_path(page)) %></td>
        <td><%= page.title %></td>
        <td style="text-align: right">
          <% if policy(page).edit? %>
            <%= link_to(
                  fa_icon("pencil", :text => "Edit"),
                  edit_catalog_admin_page_path(catalog, page),
                  :class => "btn btn-default btn-xs") %>

          <% end %>
          <% if policy(page).destroy? %>
            <%= link_to(
                  fa_icon("trash-o", :text => "Delete"),
                  catalog_admin_page_path(catalog, page),
                  :class => "btn btn-xs btn-text",
                  :method => :delete,
                  :data => {
                    :confirm => "Are you sure you want to delete "\
                                "“#{page.slug}”?"
                  }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
