<% provide(:title, t('pages')) %>

<% provide(:actions) do %>
  <%= link_to(new_catalog_admin_page_path) do %>
    <%= fa_icon(:file, :text => t('new_page')) %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('slug') %></th>
      <th><%= t('url') %></th>
      <th><%= t('title') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.slug %></td>
        <td><%= link_to(page_path(page), page_path(page)) %></td>
        <td><%= page.title %></td>
        <td style="text-align: right;">
          <%= render "shared/actions_dropdown", :model => page %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
