<%= f.text_field(:name, :autofocus => true) %>

<%= f.text_field(:slug, :help => slug_help_text) %>

<%= locale_language_select(f, :primary_language) %>
<%= locale_language_check_boxes(f, :other_languages) %>

<hr>

<%= f.form_group(
      :requires_review,
      :help => "If checked, editors of this catalog will not be able to "\
               "create items that are immediately visible to the public. "\
               "An additional review and approval step is required."
      ) do %>
  <%= f.check_box(:requires_review) %>
<% end %>

<%= f.form_group(
      :advertize,
      :help => "If checked, this catalog will be publicly listed "\
               "on the welcome page."
      ) do %>
  <%= f.check_box(:advertize) %>
<% end %>

<%= f.hidden_field(:visible) %>
<%= f.hidden_field(:restricted) %>

<%= f.form_group(:catalog_access) do %>
  <label for="catalog_access"><%= t('catalog_admin.catalogs.common_form_fields.catalog_access') %></label>
  <%= catalog_access_select(@catalog) %>
<% end %>

<hr>

<%= f.select(
  :custom_root_page_id,
  options_from_collection_for_select(
    @catalog.pages, "id", "title", @catalog.custom_root_page_id
  ),
  { include_blank: true }
) %>
