<h1><%= @catalog.name %> admin: <%= @element.name.sub('_', ' ').capitalize %></h1>
<hr>


<table>
  <tr>
    <th>ID</th>
    <% @element.schema_fields.limit(3).each do |f| %>
    <th><%= f.name.sub('_', ' ').capitalize %></th>
    <% end %>
    <th></th>
    <th></th>
  </tr>
  
  <% @items.each do |i| %>
  <tr>
    <td><%= i['id'] %></td>
    <% @element.schema_fields.limit(3).each do |f| %>
    <td><%= i[f.name] %></td>
    <% end %>
    <td><%= link_to 'Edit', catalog_element_edit_path(catalog:@catalog.url, element:@element.name, id:i['id']) %></td>
    <td><a href="">Delete</a></td>
  </tr>
  <% end %>
  
</table>
<hr>
<a href="">+ New <%= @element.name %></a>