<% provide :title, t('.my_groups') %>

<div class="mb-3">
  <%= t('.help') %>
</div>

<div id="my-group-join">
  <div class="input-group">
    <input type="text" class="form-control" id="group-join-input" placeholder="<%= t('.group_identifier') %>">
    <%= link_to(t('.join'), memberships_path, class: 'btn btn-primary', method: :post) %>
  </div>
</div>

<div class="card panel-default">
  <div class="card-header">
    <b><%= t('.my_groups') %></b>
  </div>
  <%= render 'list_memberships' %>
</div>

<script>
  $('#my-group-join input').bind('input', function () {
    $('#my-group-join a').attr("href", "<%= memberships_path %>" + "?identifier=" + $(this).val());
  });
</script>
