<%= form_for(@instance, html:{ class:'form-horizontal' }) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class:"col-sm-3 control-label" %>
    <div class="col-sm-4"><%= f.text_field :name, class:'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :url, class:"col-sm-3 control-label" %>
    <div class="col-sm-6"><%= request.base_url %>/<%= f.text_field :url, class:'form-control post-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :description, class:"col-sm-3 control-label" %>
    <div class="col-sm-9"><%= f.text_area :description, class:'form-control', rows:5 %></div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%= f.submit "Enregistrer", class:'btn btn-sm btn-success' %>
    </div>
  </div>
<% end %>
