<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.name %></td>
        <td><a href="<%= request.base_url %>/<%= instance.url %>"><%= request.base_url %>/<%= instance.url %></a></td>
        <td><%= link_to edit_instance_path(instance) do %><button title="Edit instance" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span></button><% end %>
          
          <%= link_to instance, method: :delete, data: { confirm: 'This action will definitely delete the instance. It will be impossible to revert this action. Are you sure to continue?' } do %><button title="Delete instance" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove"></span></button><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to  new_instance_path do %><button title="Delete instance" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button><% end %>
