<p id="notice"><%= notice %></p>

<h1>Listing Instances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.name %></td>
        <td><%= instance.url %></td>
        <td><%= instance.description %></td>
        <td><%= link_to 'Show', instance %></td>
        <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance', new_instance_path %>
