<div class="base-errors"><%= @container.errors.where(:base).first&.full_message %></div>

<%= hidden_field_tag(:type, params[:type]) if params[:type] %>
<%= hidden_field_tag(:l, params[:l]) if params[:l] %>

<%= f.text_field(:slug, :label => t("slug"), :help => slug_help_text) %>

<%= render_catalog_admin_container_inputs(f) %>

<hr>

<%= f.primary(t(".#{@container.persisted? ? 'save' : 'create'}_container")) %>
<%= link_to(t("cancel"), edit_catalog_admin_page_path(@container.page.catalog, I18n.locale, @container.page), :class => "btn btn-link") %>
