<%= f.text_field(:slug, :help => slug_help_text, :autofocus => true) %>
<%= f.text_field(:title) %>
<%= f.number_field(:rank, help:'The rank defines the order of the menu items in the menu bar (or within a dropdown menu if a parent is defined.') %>

<%= f.select(
  :parent_id,
  options_from_collection_for_select(
    @catalog.menu_items, "id", "title", @menu_item.parent_id
  ),
  { 
    include_blank: true,
    help:'Choose the parent menu item for submenus. Leave empty if this menu item is not a submenu.' 
  }
) %>

<div class="well help-block">
  <p>There are four types of possible menus:</p>
  <ul>
    <li><b>Menu for an item type</b> (to display the list with all items of a given type): choose an item type from the dropdown menu below.</li>
    <li><b>Menu for your custom page</b>. You can define a custom page in the catalog admin. Choose your custom page in the dropdown menu below.</li>
    <li><b>Menu for a specific URL</b>. Just provide the URL below. This can be an internal or an external URL.</li>
    <li><b>A dropdown menu.</b> Don't specify any of the options below. For each submenu that should be displayed within this dropdown menu, choose this menu as parent in the submenu definition form. It is not possible to have a dropdown menu within another dropdown menu (nested menus).</li>
  </ul>
</div>

<%= f.select(
  :item_type_id,
  options_from_collection_for_select(
    @catalog.item_types, "id", "name", @menu_item.item_type_id
  ),
  { include_blank: true }
) %>

<%= f.select(
  :page_id,
  options_from_collection_for_select(
    @catalog.pages, "id", "title", @menu_item.page_id
  ),
  { include_blank: true }
) %>

<%= f.text_field(:url) %>


<script>
function updateFieldDisplay(){
  $('#menu_item_item_type_id').attr('disabled', null);
  $('#menu_item_page_id').attr('disabled', null);
  $('#menu_item_url').attr('disabled', null);

  if ($('#menu_item_item_type_id').val()){
    $('#menu_item_page_id').attr('disabled', 'disabled');
    $('#menu_item_url').attr('disabled', 'disabled');
  }

  if ($('#menu_item_page_id').val()){
    $('#menu_item_item_type_id').attr('disabled', 'disabled');
    $('#menu_item_url').attr('disabled', 'disabled');
  }

  if ($('#menu_item_url').val()){
    $('#menu_item_item_type_id').attr('disabled', 'disabled');
    $('#menu_item_page_id').attr('disabled', 'disabled');
  }
}

$('#menu_item_item_type_id').on('change', updateFieldDisplay);
$('#menu_item_page_id').on('change', updateFieldDisplay);
$('#menu_item_url').on('change', updateFieldDisplay);
updateFieldDisplay();

</script>