<% provide(:title, t('.menu_items')) %>

<% provide(:actions) do %>
  <%= link_to(new_catalog_admin_menu_item_path) do %>
    <%= fa_icon(:plus, :text => t('.new')) %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.slug') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.rank') %></th>
      <th><%= t('.locale') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @menu_items.sorted.each do |menu_item| %>
      <tr>
        <td><%= menu_item.slug %></td>
        <td><%= menu_item.title %></td>
        <td><%= menu_item.rank %></td>
        <td><%= menu_item.locale %></td>
        <td style="text-align: right">
          <% if policy(menu_item).edit? %>
            <%= link_to(
                  fa_icon("pencil", :text => t("edit")),
                  edit_catalog_admin_menu_item_path(catalog, I18n.locale, menu_item),
                  :class => "btn btn-default btn-xs") %>

          <% end %>
          <% if policy(menu_item).destroy? %>
            <%= link_to(
                  fa_icon("trash-o", :text => t("delete")),
                  catalog_admin_menu_item_path(catalog, I18n.locale, menu_item),
                  :class => "btn btn-xs btn-text",
                  :method => :delete,
                  :data => {
                    :confirm => t('.delete_confirm', {menu: menu_item.title})
                  }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
