<% provide(:title, t(".title")) %>

<%= bootstrap_form_for(
      resource,
      :as => resource_name,
      :url => edit_registration_path(resource_name),
      :html => { :method => :patch }) do |f| %>

  <%= devise_error_messages! %>

  <%= f.email_field(:email, :autofocus => true, :autocomplete => "username") %>

  <%= f.password_field(
        :password,
        :autocomplete => "new-password",
        :help => t(".leave_blank")) %>

  <%= f.password_field(
        :password_confirmation,
        :autocomplete => "new-password") %>

  <%= f.password_field(
        :current_password,
        :autocomplete => "current-password",
        :help => t(".need_to_confirm")) %>

  <%= f.primary(t(".submit")) %>
  <%= link_to(t("common.back"), :back, :class => "btn btn-link") %>
<% end %>

<hr>

<p>
  <%= t(".unhappy") %>
  <%= button_to(
        t(".cancel_account"),
        cancel_registration_path(resource_name),
        :class => "btn btn-default",
        :data => { :confirm => "Are you sure?" },
        :method => :delete) %>
</p>
