<%= f.text_field(:name, :autofocus => true) %>

<%= f.form_group(
      :advertize,
      :help => t('.advertize_help')
      ) do %>
  <%= f.check_box(:advertize) %>
<% end %>

<hr>

<%= f.select(
  :custom_root_page_id,
  options_from_collection_for_select(
    @catalog.pages, "id", "title", @catalog.custom_root_page_id
  ),
  { include_blank: true }
) %>

<hr>

<h4><%= t('.display_options') %></h4>
<%= f.form_group(
    :visible,
    :help => t('.visible_help')
    ) do %>
  <%= f.check_box(:visible) %>
<% end %>

<%# TODO: remove if global bounds are not necessary %>
<!--
<div class="form-group">
  <label class="control-label" for="catalog_bounds"><%= t("catalog_admin.catalog.bounds") %></label>
  <textarea class="hidden form-control" name="catalog[bounds]" id="catalog_bounds"><%= @catalog.bounds.nil? ? '' : @catalog.bounds.to_json.html_safe %></textarea>
  <div id="catalog-bounds-map" style="height: 300px;"></div>
</div>



<script src="https://unpkg.com/leaflet-path-drag@1.1.0/dist/L.Path.Drag.js"></script>
<script src="https://unpkg.com/leaflet-editable@1.1.0/src/Leaflet.Editable.js"></script>
<script type="text/javascript">
  var bounds = [[-60, -145], [70, 185]];
  var catalog_bounds = {};
  var catalog_bounds_str = document.getElementById('catalog_bounds').value;
  if (catalog_bounds_str != null && catalog_bounds_str.length > 0){
    catalog_bounds = JSON.parse(catalog_bounds_str);
  }
  if (catalog_bounds.xmin) bounds[0][1] = catalog_bounds.xmin;
  if (catalog_bounds.ymin) bounds[0][0] = catalog_bounds.ymin;
  if (catalog_bounds.xmax) bounds[1][1] = catalog_bounds.xmax;
  if (catalog_bounds.ymax) bounds[1][0] = catalog_bounds.ymax;

  var map = L.map('catalog-bounds-map', {editable: true}).fitBounds(bounds, {padding: [10,10]});
  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '',
    maxZoom: 18
  }).addTo(map);

  console.log('*** bounds', bounds)
  var boundsRect = L.rectangle(bounds).addTo(map);
  boundsRect.enableEdit();

  map.on('editable:editing', function(e){
    var bnds = boundsRect.getBounds();
    var boundsValue = {
      xmin: bnds.getWest(), xmax: bnds.getEast(),
      ymin: bnds.getSouth(), ymax: bnds.getNorth()
    };
    document.getElementById('catalog_bounds').value = JSON.stringify(boundsValue);
  });

</script>
-->