<%= f.text_field(:name, :autofocus => true) %>

<%= f.form_group(
      :advertize,
      :help => t('.advertize_help')
      ) do %>
  <%= f.check_box(:advertize) %>
<% end %>

<hr>

<%= f.select(
  :custom_root_page_id,
  options_from_collection_for_select(
    @catalog.pages, "id", "title", @catalog.custom_root_page_id
  ),
  { include_blank: true }
) %>

<hr>

<h4><%= t('.display_options') %></h4>

<%= f.hidden_field(:visible) %>
<%= f.hidden_field(:restricted) %>

<%= f.form_group(:catalog_access) do %>
      <label for="catalog_access"><%= t('.catalog_access') %></label>
      <%= select_tag(
        :catalog_access,
        options_for_select([
          [t('.open_for_everyone'), 1],
          [t('.open_to_members'), 2],
          [t('.open_to_catalog_staff'), 3]
        ], catalog_access(@catalog)),
        class: 'form-control',
        label: 'houps'
      ) %>
<% end %>

<script type="text/javascript">
  function setCatalogAccess(visible, restricted){
    document.getElementById('catalog_visible').value = (visible == true);
    document.getElementById('catalog_restricted').value = (restricted == true);
  }

  var cat_access = document.getElementById('catalog_access');
  cat_access.onchange = function(){
    if (cat_access.value == '1') setCatalogAccess(true, false);
    if (cat_access.value == '2') setCatalogAccess(true, true);
    if (cat_access.value == '3') setCatalogAccess(false, true);
  }
</script>

<hr>
