<%= f.text_field(:name, :autofocus => true) %>

<%= f.form_group(
      :advertize,
      :help => t('.advertize_help')
      ) do %>
  <%= f.check_box(:advertize) %>
<% end %>

<hr>

<%= f.select(
  :custom_root_page_id,
  options_from_collection_for_select(
    @catalog.pages, "id", "title", @catalog.custom_root_page_id
  ),
  { include_blank: true }
) %>

<hr>

<h4><%= t('.display_options') %></h4>
<%= f.form_group(
    :visible,
    :help => t('.visible_help')
    ) do %>
  <%= f.check_box(:visible) %>
<% end %>

<div class="form-group">
  <label class="control-label" for="catalog_bounds">Bounds</label>
  <textarea class="form-control" name="catalog[bounds]" id="catalog_bounds"><%= @catalog.bounds.nil? ? '' : @catalog.bounds.to_json.html_safe %></textarea>
</div>