<%= f.text_field(:name, :autofocus => true) %>

<% unless @catalog.data_only? %>
  <%= f.form_group(
    :advertize,
    :help => t('.advertize_help')
  ) do %>
    <%= f.check_box(:advertize) %>
  <% end %>
<% end %>

<% unless @catalog.data_only? %>
  <%= f.select(
        :custom_root_page_id,
        options_from_collection_for_select(
          @catalog.pages, "id", "title", @catalog.custom_root_page_id
        ),
        {include_blank: true}
      ) %>
<% end %>

<hr>

<h4><%= t('.display_options') %></h4>

<%= f.hidden_field(:visible) %>
<%= f.hidden_field(:restricted) %>

<%= f.form_group(:catalog_access) do %>
  <label class="form-label" for="catalog_access"><%= t('.catalog_access') %></label>
  <%= catalog_access_select(@catalog) %>
<% end %>
