<% provide(:title, "Customize catalog style") %>

<%= javascript_pack_tag 'style-control-bundle' %>

<div class="panel-body">

  <%= bootstrap_form_for(@catalog, url: catalog_admin_style_path) do |f| %>

    <%= f.hidden_field(:style) %>

    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
      <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
      <li role="presentation"><a href="#logo" aria-controls="logo" role="tab" data-toggle="tab">Logo</a></li>
      <li role="presentation"><a href="#itemlist" aria-controls="itemlist" role="tab" data-toggle="tab">Items</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- General pane -->
      <div role="tabpanel" class="tab-pane active" id="general">
        <div class="form-group">
          <label class="control-label">Base font</label>
          <%= react_component 'StyleControl', props: { input: '#catalog_style', element: 'base-font' }, prerender: false %>
        </div>

        <div class="form-group">
          <label class="control-label">Link color</label>
          <input class="form-control" type="text" id="catalog_link_color" value="<%= @catalog.custom_style('link-color') || '#428bca' %>">
          <script>
            $('#catalog_link_color').minicolors({
              theme: 'bootstrap',
            });
            $('#catalog_link_color').on('change', function(e){
              var stl = JSON.parse($('#catalog_style').val());
              stl['link-color'] = $('#catalog_link_color').val();
              $('#catalog_style').val(JSON.stringify(stl));
            });
          </script>
        </div>

        <div class="form-group">
          <label class="control-label">Navbar</label>
          <%= react_component 'StyleControl', props: { input: '#catalog_style', element: 'navbar' }, prerender: false %>
        </div>
      </div>

      <!-- Catalog logo pane -->
      <div role="tabpanel" class="tab-pane" id="logo">
          <div class="form-group">
              <label class="control-label" for="catalog_logo">Catalog logo</label>
              <table>
                <tr>
                  <td>
                    <% if @catalog.logo %>
                      <div style="min-width: 220px; padding: 10px;">
                        <%= attachment_image_tag(@catalog, :logo, :limit, 200, 100) %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <%= f.attachment_field :logo %>
                    <% if @catalog.logo %>
                      <%= f.check_box :remove_logo, label: 'Remove current logo' %>
                    <% end %>
                  </td>
                </tr><tr>
                  <td colspan="3"><span class="help-block">Logo located at the bottom right, maximum width: 200 pixels, maximum height: 100 pixels</span></td>
                </tr>
              </table>
          </div>
          <div class="form-group">
              <label class="control-label" for="catalog_nav_logo">Logo navigation bar</label>
              <table>
                <tr>
                  <td>
                    <% if @catalog.navlogo %>
                      <div style="min-width: 220px; padding: 10px;">
                        <%= attachment_image_tag(@catalog, :navlogo, :limit, 300, 50) %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <%= f.attachment_field :navlogo %>
                    <% if @catalog.navlogo %>
                      <%= f.check_box :remove_navlogo, label: 'Remove current navigation bar logo' %>
                    <% end %>
                  </td>
                </tr><tr>
                  <td colspan="3"><span class="help-block">Logo located at the top left, maximum height: 50 pixels</span></td>
                </tr>
              </table>
          </div>
      </div>

      <!-- Headings pane -->
      <div role="tabpanel" class="tab-pane" id="itemlist">

        <h4>Headings</h4>

        <div class="form-group">
          <label class="control-label">Main title</label>
          <%= react_component 'StyleControl', props: { input: '#catalog_style', element: 'main-title' }, prerender: false %>
        </div>

        <div class="form-group">
          <label class="control-label">Sub title</label>
          <%= react_component 'StyleControl', props: { input: '#catalog_style', element: 'sub-title' }, prerender: false %>
        </div>

        <hr/>

        <h4>Items</h4>

        <div class="form-group">
          <label class="control-label">Item labels</label>
          <%= react_component 'StyleControl', props: { input: '#catalog_style', element: 'item-labels' }, prerender: false %>
        </div>

        <div class="form-group">
          <label class="control-label">Item text</label>
          <%= react_component 'StyleControl', props: { input: '#catalog_style', element: 'item-text' }, prerender: false %>
        </div>
      </div>
    </div>

    <hr/>
    <%= f.primary(t("catalog_admin.catalog.save_style")) %>
  <% end %>
</div>
