<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Status</th>
      <th>Visibility</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @catalogs.each do |catalog| %>
      <tr>
        <td>
          <%= fa_icon(:book, :text => catalog.name) %>
          <%= catalog_api_badge(catalog) %>
          <%= catalog_review_badge(catalog) %>
          <%= catalog_data_only_badge(catalog) %>
        </td>
        <td>
          <%= link_to_if(
                catalog.not_deactivated?,
                "/#{catalog.slug}",
                catalog_admin_setup_path(catalog, catalog.valid_locale)) %>
        </td>
        <td><%= deactivation_status_label(catalog) %></td>
        <td><%= visibility_status_label(catalog) %></td>
        <td class="text-right">
          <%= render "shared/actions/catalog", :model => catalog %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
