<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @catalogs.each do |catalog| %>
      <tr>
        <td><%= fa_icon(:book, :text => catalog.name) %></td>
        <td>
          <%= link_to_if(
                catalog.active?,
                "/#{catalog.slug}",
                catalog_admin_setup_path(catalog, catalog.get_valid_locale(I18n.locale))) %>
        </td>
        <td><%= deactivation_status_label(catalog) %></td>
        <td style="text-align: right">
          <% if current_user.system_admin? %>
            <%= link_to edit_admin_catalog_path(catalog, catalog.get_valid_locale(I18n.locale)), :class => "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", :text => "Edit") %>
            <% end %>
            <%= deactivation_toggle(
                  catalog,
                  :admin_catalog_path,
                  catalog,
                  catalog.get_valid_locale(I18n.locale),
                  :class => "btn btn-xs btn-text") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
