<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @catalogs.each do |catalog| %>
      <tr>
        <td><%= fa_icon(:book, :text => catalog.name) %></td>
        <td><%= link_to_if(catalog.active?, "/#{catalog.slug}", "/#{catalog.slug}") %></td>
        <td><%= catalog_status_label(catalog) %></td>
        <td style="text-align: right">
          <%= link_to edit_admin_catalog_path(catalog), :class => "btn btn-xs btn-default" do %>
            <%= fa_icon("pencil", :text => "Edit") %>
          <% end %>
          <%= catalog_activation_toggle(catalog, :class => "btn btn-xs btn-text") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
