<table class="table">
  <thead>
    <tr>
      <th>Path</th>
      <th>Locale</th>
      <th>Handler</th>
      <th>Format</th>
      <th>Partial</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @template_storages.each do |template_storage| %>
      <tr>
        <td><%= fa_icon(:file, :text => template_storage.path) %></td>
        <td><%= template_storage.locale %></td>
        <td><%= template_storage.handler %></td>
        <td><%= template_storage.format %></td>
        <td><%= template_storage.partial %></td>
        <td style="text-align: right">
          <%= render "shared/actions_dropdown", :model => template_storage %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
