<table class="table">
  <thead>
    <tr>
      <th>Path</th>
      <th>Locale</th>
      <th>Handler</th>
      <th>Format</th>
      <th>Partial</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @template_storages.each do |template_storage| %>
      <tr>
        <td><%= fa_icon(:file, :text => template_storage.path) %></td>
        <td><%= template_storage.locale %></td>
        <td><%= template_storage.handler %></td>
        <td><%= template_storage.format %></td>
        <td><%= template_storage.partial %></td>
        <td style="text-align: right">
          <%= link_to edit_admin_template_storage_path(template_storage), :class => "btn btn-xs btn-default" do %>
            <%= fa_icon("pencil", :text => "Edit") %>
          <% end %>
          <%= link_to [:admin, template_storage], :class => "btn btn-xs btn-text", :method => :delete, :data => { :confirm => "Are you sure you want to delete this template?" } do %>
            <%= fa_icon("trash-o", :text => "Delete") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
