<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin?</th>
      <th>Invited</th>
      <th>Last signed in</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= fa_icon(:user, :text => user.email) %></td>
        <td><%= admin_catalogs(user) %></td>
        <td><%= l(user.created_at, :format => :long) %></td>
        <td><%= last_signed_in(user) %></td>
        <td align="right">
          <%= render "shared/actions/user", :model => user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
