<% provide(:title, "CATIMA admin") %>

<% if @configuration %>
<div class="card panel-default">
  <div class="card-header">
    Global settings
  </div>
  <%= render("admin/configurations/form") %>
</div>
<% end %>

<div class="card panel-default catalogs">
  <div class="card-header">
    <% if current_user.system_admin? %>
      <span class="pull-right">
        <span style="margin-right: 15px">
          <%= link_to(admin_stats_path({:scope => 'catalogs'})) do %>
            <%= fa_icon(:"bar-chart", :text => "Stats") %>
          <% end %>
        </span>
        <span>
          <%= link_to(new_admin_catalog_path) do %>
            <%= fa_icon(:"plus-square", :text => "New catalog") %>
          <% end %>
        </span>
      </span>
    <% end %>
    Catalogs
  </div>
  <%= render("catalogs") %>
</div>

<% if @users %>
  <div class="card panel-default users" id="users">
    <div class="card-header">
      <%= render 'shared/search_form',
                 :controller => 'admin/dashboard',
                 :action => 'index',
                 :placeholder => 'Search for users',
                 :anchor => 'users'
      %>
      <span class="pull-right">
        <%= link_to(new_admin_user_path) do %>
          <%= fa_icon(:"user-plus", :text => "New admin user") %>
        <% end %>
      </span>
    </div>
    <%= render("users") %>
  </div>
  <%= paginate(@users) %>
<% end %>

<% if @template_storages %>
<div class="card panel-default templates">
  <div class="card-header">
    <span class="pull-right">
      <%= link_to(new_admin_template_storage_path) do %>
        <%= fa_icon(:"plus-square", :text => "New template") %>
      <% end %>
    </span>
    Custom templates
  </div>
  <%= render("template_storages") %>
</div>
<% end %>
