<% provide(:title, "CATIMA admin") %>


<div class="panel panel-default">
  <div class="panel-heading">
    Global settings
  </div>
  <%= render("admin/configurations/form") %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
      <%= link_to(new_admin_catalog_path) do %>
        <%= fa_icon(:"plus-square", :text => "New catalog") %>
      <% end %>
    </span>
    Catalogs
  </div>
  <%= render("catalogs") %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
      <%= link_to(new_admin_user_path) do %>
        <%= fa_icon(:"user-plus", :text => "New admin user") %>
      <% end %>
    </span>
    Users
  </div>
  <%= render("users") %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
      <%= link_to(new_admin_template_storage_path) do %>
        <%= fa_icon(:"plus-square", :text => "New template") %>
      <% end %>
    </span>
    Custom templates
  </div>
  <%= render("template_storages") %>
</div>

