<% provide(:title, "CATIMA admin | Stats") %>

<div class="card panel-default">
  <div class="card-header">
    <span class="pull-right">
      <%= link_to(admin_dashboard_path) do %>
        <%= fa_icon(:"arrow-left", :text => "Catima admin dashboard") %>
      <% end %>
    </span>
    Stats
  </div>
  <div class="stats-content">
    <span class="pull-right">
      <%= link_to(admin_stats_download_path, :class => "btn btn-outline-secondary btn-xs mb-4") do %>
        <%= fa_icon(:"download", :text => "Download all stats (CSV)") %>
      <% end %>
    </span>

    <div class="mt-4">
      <%= render("admin/dashboard/stats/" + @scope) %>
    </div>
  </div>
</div>
