<%= locale_form_group(f, :name, :text_field, :autofocus => true) %>
<%= locale_form_group(f, :name_plural, :text_field) %>
<%= f.text_field(:slug, :help => slug_help_text) %>
<hr>
<h4><%= t(".display-options") %></h4>
<%= f.form_group(
  :display_emtpy_fields,
  :help => t(".show-empty-fields")) do %>
  <%= f.check_box(:display_emtpy_fields, :label => t(".display-empty-fields")) %>
<% end %>
<h4><%= t(".suggestions") %></h4>
<div data-controller="toggle-display">
  <%= f.form_group(:suggestions_activated) do %>
    <%= f.check_box(:suggestions_activated, label: Item.human_attribute_name(:suggestions_activated), "data-toggle-display-target": "source", "data-action": "click->toggle-display#reveal") %>
    <div data-toggle-display-target="revealable">
      <%= f.check_box(:allow_anonymous_suggestions, label: Item.human_attribute_name(:allow_anonymous_suggestions)) %>
      <%= f.email_field(:suggestion_email, label: Item.human_attribute_name(:suggestion_email), help: t(".suggestion-email-help")) %>
    </div>
  <% end %>
</div>

