<%= bootstrap_form_tag(
      :url => { :controller => controller, :action => action },
      :method => "POST",
      :layout => :inline,
      :html => { :style => "text-align: center" }) do |f| %>

    <div class="clearable-input">
      <div class="input-group">
        <%= f.search_field(
              :q,
              :value => params[:q],
              :label => t('simple_search.form.submit'),
              :placeholder => @item_type.present? ? t('.placeholder', :item_type => @item_type.name_plural) : t('.submit'),
              :hide_label => true,
              :autofocus => true,
              :class => "form-control",
              :style => "width: 25em"
              ) %>

        <div class="input-group-addon">
          <% unless params[:q].nil? %>
            <a href="<%= request.path.remove('search', '') %>" class="clear-input"><i class="fa fa-times"></i></a>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.submit(t(".submit")) %>

    <% if display_advanced_search %>
      <%= link_to(
            t(".advanced"),
            new_advanced_search_path,
            :class => "btn btn-link") %>
    <% end %>
<% end %>
