<% provide(:extra_nav) do %>
  <%= render("simple_search/form",
      :controller => "simple_search",
      :action => "create") %>
<% end %>

<% provide(:title) do %>
  <%= t(".title",
        :query => @simple_search_result.query,
        :count => @simple_search_result.total_count,
        :count_delimited => number_with_delimiter(@simple_search_result.total_count)) %>

  <% if exists_for_user?(@simple_search) %>
    <%= link_to(
            fa_icon("star", :text => t(".searches_remove")),
            searches_path(I18n.locale, @simple_search.uuid),
            :class => "btn btn-default btn-xs",
            method: :delete
        ) %>
  <% else %>
    <%= link_to(
            fa_icon("star-o", :text => t(".searches_add")),
            searches_path(I18n.locale, related_search_uuid: @simple_search.uuid),
            :class => "btn btn-default btn-xs",
            method: :post
        ) %>
  <% end %>
<% end %>

<% if @simple_search_result.item_counts_by_type.many? %>
  <ul class="nav nav-tabs">
    <% @simple_search_result.item_counts_by_type do |type, count| %>
      <%= content_tag(
            :li,
            :role => "presentation",
            :class => ("active" if @simple_search_result.active?(type))) do %>
        <%= link_to(:type => type.slug, :q => @simple_search_result.query) do %>
          <%= type.name_plural %>
          <span class="badge">
            <%= number_with_delimiter(count) %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render_item_list(@simple_search_result, params) %>
<%= paginate(@simple_search_result.items) %>
