<h1>Edit database element</h1>
<%= link_to '< Back', edit_instance_path(@schema_element.instance) %>
<hr>
<p id="notice"><%= notice %></p>

<%= form_for([@schema_element], html:{ class:'form-horizontal' }) do |f| %>
  <%= render 'form', f: f %>
<% end %>
<hr>

<h2>Element properties</h2>
<%= render 'schema_fields/list' %>
<hr>


