<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schema_element.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @schema_element.description %>
</p>

<p>
  <strong>Instance:</strong>
  <%= @schema_element.instance %>
</p>

<%= link_to 'Edit', edit_schema_element_path(@schema_element) %> |
<%= link_to 'Back', schema_elements_path %>
