  <% if @schema_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schema_field.errors.count, "error") %> prohibited this schema field from being saved:</h2>

      <ul>
      <% @schema_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class:'col-sm-3 control-label' %>
    <div class="col-sm-9"><%= f.text_field :name, class:'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :definition, class:'col-sm-3 control-label' %>
    <div class="col-sm-9"><%= f.text_field :definition, class:'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :description, class:'col-sm-3 control-label' %>
    <div class="col-sm-9"><%= f.text_area :description, class:'form-control' %></div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%= f.submit 'Save', class:'btn btn-sm btn-success' %>
    </div>
  </div>

