<% if review.approved? %>
  <p>
    <%= review_status_label(item) %>
  </p>
  <p>
    <%= t('.approved', item_type: item_type.name) %>
  </p>
<% elsif review.rejected? %>
  <p>
    <%= review_status_label(item) %>
  </p>
  <p>
    <%= t('.rejected', item_type: item_type.name) %>
  </p>
<% elsif review.pending? %>
  <p>
    <%= review_status_label(item) %>
  </p>
  <p>
    <%= t('.pending', item_type: item_type.name) %>
  </p>
<% end %>
<% if review.submit_allowed? %>
  <%= f.form_group(
        :submit_for_review,
        :help => t('.approval_help', 
                    item_type: item_type.name, 
                    item_type_plural: item_type.name_plural,
                    catalog: catalog.name)) do %>
    <%= f.check_box(:submit_for_review, :label => t('.ready_for_review')) %>
  <% end %>
<% end %>
