<% provide(:extra_nav) do %>
  <div class="pb-1">
    <i class="fa fa-arrow-left"></i>
    <%= link_to t('items.item_list_nav.back'), @back_to_list_path %>
  </div>
<% end %>

<% provide(:title, t('.edit_item', item: default_display_name(@item))) %>

<div id="item-form">
  <%= bootstrap_form_for(@item, :url => catalog_admin_item_path) do |f| %>
    <%= render_items_approval(@item) %>
    <%= render("common_form_fields", :f => f) %>
    <%= f.primary(t('.save_item', item: @item.item_type.name)) %>
    <%= link_to(
          t("cancel"),
          catalog_admin_items_path,
          :class => "btn btn-link") %>
  <% end %>
</div>

<%= render('choice_modal_forms', :item => @item) %>
