<% provide(:title, t('.edit_item', item: default_display_name(@item))) %>

<% provide(:actions) do %>
  <% if referer_with_same_item_type?(@item) %>
    <span>
      <%= link_to(
            t('.back'),
            catalog_admin_items_path(page: params['page'])
          ) %>
    </span> |
  <% end %>

  <span>
    <%= link_to(
          t('.view-item'),
          item_path(:item_type_slug => @item.item_type.slug, :id => @item),
          :target => '_blank') if params['action'] == 'edit' %>
  </span>
<% end %>

<div id="item-form">
  <%= bootstrap_form_for(@item, :url => catalog_admin_item_path) do |f| %>
    <%= render_items_approval(@item) %>
    <%= render("common_form_fields", :f => f) %>
    <%= f.primary(t('.save_item', item: @item.item_type.name)) %>
    <%= link_to(
          t("cancel"),
          catalog_admin_items_path(page: params['page']),
          :class => "btn btn-link") %>
  <% end %>
</div>
