<% provide(:title) do %>
  <b><%= @item_type.name_plural_primary %></b>
<% end %>

<% provide(:actions) do %>
  <%= link_to(
        fa_icon(:"plus-square", :text => "New #{@item_type.name_primary}"),
        new_catalog_admin_item_path(catalog, @item_type),
        :class => "btn btn-xs btn-default") %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <% @fields.each do |field| %>
        <th><%= field.name_primary %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% @fields.each do |field| %>
          <td><%= field_value(item, field) %></td>
        <% end %>
        <td style="text-align: right">
          <% if policy(item).edit? %>
            <%= link_to(
                  fa_icon("pencil", :text => "Edit"),
                  edit_catalog_admin_item_path(catalog, @item_type, item),
                  :class => "btn btn-default btn-xs") %>
          <% end %>
          <% if policy(item).destroy? %>
            <%= link_to(
                  fa_icon("trash-o", :text => "Delete"),
                  catalog_admin_item_path(catalog, @item_type, item),
                  :class => "btn btn-xs btn-text",
                  :method => :delete,
                  :data => {
                    :confirm => "Are you sure you want to delete "\
                                "“#{item.display_name}”?"
                  }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
