<% provide(:extra_nav) do %>
  <div class="data-search">
    <%= render("simple_searches/form",
               :controller => "items",
               :action => "search",
               :display_advanced_search => false) %>
  </div>
<% end %>

<% provide(:title) do %>
  <b><%= @item_type.name_plural %></b>
<% end %>

<% if @item_type.fields.count == 0 %>
  <div class="alert alert-warning" style="margin-bottom: 0;">
    <%= t('.no_fields_warning') %><br>
    <%= t('.add_fields') %>
  </div>
<% end %>

<% if @item_type.fields.count > 0 %>

  <% provide(:actions) do %>
    <%= render("sort_menu") if sort_field_choices.any? %>
    <div class="btn-group">
      <%= link_to(
              fa_icon(:"plus-square", :text => t('.new_item_type', item_type: @item_type.name)),
              new_catalog_admin_item_path(catalog, I18n.locale, @item_type),
              :class => "btn btn-xs btn-outline-secondary") %>
      <button type="button"
              class="btn btn-xs btn-outline-secondary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-end">
        <%= link_to(t('.import_csv'), new_catalog_admin_csv_import_path, class: "dropdown-item") %>
      </div>
    </div>
  <% end %>

  <table class="table">
    <thead>
    <tr>
      <% @fields.each do |field| %>
        <th><%= field.label %></th>
      <% end %>
      <% if catalog.requires_review? %>
        <th><%= t('.status') %></th>
      <% end %>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <% @fields.each_with_index do |field, index| %>
          <td>
            <%= field_value(item, field, :style => :compact) %>

            <% if index === 0 && item_suggestion_badge?(item, @item_type) %>
              <span class="badge badge-secondary"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="<%= t('.pending_suggestions') %>">
                <%= item_suggestions_count(item) %>
              </span>
            <% end %>
          </td>
        <% end %>
        <% if catalog.requires_review? %>
          <td><%= review_status_label(item) %></td>
        <% end %>
        <td align="right">
          <%= render "shared/actions/item", :model => item %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% content_for(:pager, paginate(@items)) %>

<% end %>
