<% provide(:title, t('.new_item', item_type: @item.item_type.name)) %>

<div id="item-form">
  <%= bootstrap_form_for([:catalog_admin, @item]) do |f| %>
    <%= render("common_form_fields", :f => f) %>

    <hr>
    <%= f.primary(t('.create_item', item_type: @item.item_type.name)) %>
    <%= submit_and_add_another(f) %>
    <%= link_to(
          t("cancel"),
          catalog_admin_items_path,
          :class => "btn btn-link") %>
  <% end %>
</div>
