<% provide(:title, t('.title') + " “#{@advanced_search_conf.title}“") %>

<%= bootstrap_form_for(
      @advanced_search_conf,
      :url => catalog_admin_advanced_search_configuration_path(catalog, I18n.locale)
    ) do |f| %>

  <%= render("common_form_fields", :f => f) %>

  <hr>
  <div class="container-list">
    <div class="mb-3">
      <div class="pull-right">
        <% if @available_fields.present? && @available_fields.size.positive? %>
          <button class="btn btn-xs btn-outline-secondary dropdown-toggle" type="button" id="add-field-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= fa_icon(:"plus-square", :text => t('.add_field')) %>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="add-field-dropdown">
            <% @available_fields.each do |field| %>
              <%= link_to(field.name, {
                :action => :update,
                :catalog_slug => @advanced_search_conf.catalog.slug,
                :id => @advanced_search_conf.id,
                :advanced_search_configuration => {
                  :field => field.uuid
                }},
                          class: "dropdown-item",
                          method: :put) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= render("index", locale: locale) %>
    </div>
  </div>

  <div class="mt-3">
    <%= f.primary(t('.submit')) %>
    <%= link_to t('cancel'), catalog_admin_advanced_search_configurations_path, :class => "btn btn-link" %>
  </div>
<% end %>
