<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
      <div class="btn-group">
        <%= link_to(
              fa_icon(:"plus-square", text: t('.new_group')),
              new_group_path,
              class: 'btn btn-xs btn-default') %>
      </div>
    </span>
    <b><%= t('.my_groups') %></b>
  </div>

  <% if current_user.my_groups.count == 0 %>
    <div class="alert alert-warning" style="margin-bottom: 0;">
      <%= t('.no_own_groups_warning') %>
    </div>
  <% end %>

  <% if current_user.my_groups.count > 0 %>
    <table class="table">
    <tbody>
      <% current_user.my_groups.each do |grp| %>
        <tr>
          <td><%= grp.name %></td>
          <td>
            <% if grp.users.count == 1 %>
              <%= t('.member_count_one') %>
            <% else %>
              <%= t('.member_count_many', number: grp.users.count) %>
            <% end %>
          </td>
          <td style="text-align: right;">
            <%= link_to(
                  fa_icon(:users),
                  group_path(grp),
                  class: 'btn btn-xs btn-default'
                ) %>
            <%= link_to(
                  fa_icon(:pencil),
                  edit_group_path(grp),
                  class: 'btn btn-xs btn-default'
                ) %>
            <%= link_to(
                  fa_icon(:trash),
                  group_path(grp),
                  method: :delete,
                  data: { confirm: t('delete_confirm', model: grp.name) },
                  class: 'btn btn-xs btn-default'
                ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
