<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(catalog.name, catalog_home_path, :class => "navbar-brand") %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% catalog.item_types.sorted.each do |type| %>
          <%= navbar_link_to(
                type.name_plural,
                items_path(:item_type_slug => type),
                :active_when => { :item_type_slug => type.slug }) %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render("shared/navbar/locale_menu") if params[:locale] %>
        <%= render("shared/navbar/admin_menu") if admin_menu_visible? %>
        <%= render("shared/navbar/user_menu") %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
