<div class="search-form">
  <%= form_tag url_for(:controller => controller, :action => action, :anchor => anchor), method: "get" do %>
    <% if params[:filter].present? %>
      <%= hidden_field_tag :filter, params[:filter] %>
    <% end %>

    <div class="input-group">
      <input type="text"
        class="form-control"
        placeholder="<%= placeholder %>"
        name="search"
        value="<%= params[:search] if params[:search] %>">
      <button class="btn btn-outline-secondary" type="submit"><%= fa_icon "search" %></button>
    </div>
  <% end %>
</div>
