<p>This is a custom template</p>

<ul>
  <li><%= field_value(@item, :name) %></li>
  <li><%= field_value(@item, :nickname) %></li>
  <li><%= field_value(@item, :age) %></li>
  <li><%= field_value(@item, :site) %></li>
  <li><%= field_value(@item, :email) %></li>
  <li><%= field_value(@item, :rank) %></li>
  <li><%= field_value(@item, :bio) %></li>
</ul>
