<%= bootstrap_form_for('', :url => contact_path) do |f| %>
  <%= f.hidden_field :container_id, :value => container.id %>
  <% inputs.each do |input, value| %>
    <% parsed_value = JSON.parse(value) %>

    <%= f.public_send(
      parsed_value["input_type"],
      input.to_sym,
      :required => parsed_value["required"],
      :label => parsed_value["label"].present? ? t(parsed_value["label"]) : ''
    ) %>
  <% end %>

  <div class="pt-1">
    <%= recaptcha_tags %>
  </div>

  <div class="pt-1">
    <%= f.submit(t("containers.contact.send"), class: 'btn btn-outline-secondary') %>
  </div>
<% end %>
