<textarea id="geojson-<%= container.item_type %>" style="display: none;"><%= container.geojson %></textarea>
<input type="hidden" id="catalog_slug" value="<%= container.catalog.slug %>" />
<div id="map-<%= container.item_type %>" style="width: 100%; height: <%= container.map_height %>px;"></div>

<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
<link href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" rel="stylesheet" />
<link href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" rel="stylesheet" />

<script type="text/javascript">
  var catalog = document.getElementById('catalog_slug').value;
  var map = L.map('map-<%= container.item_type %>');
  var locale = '<%= I18n.locale %>';
  var fc = JSON.parse(document.getElementById('geojson-<%= container.item_type %>').innerText);

  if (fc.features.length > 0) {
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      maxZoom: 18
    }).addTo(map);

    var plainBlueMarker = L.icon({
      iconUrl: '/icons/plain-blue-marker.png',
      iconSize: [25, 41],
      iconAnchor:   [12, 40],
      popupAnchor:  [0, -40]
    });

    var items_layer = L.geoJSON(fc, {
      onEachFeature: function(feature, layer) {
        layer.on('click', function(e){
          var marker = e.target;
          if (marker._popup == null) {
            marker.bindPopup(_t.loading[locale]).openPopup();
            loadPopupContent(marker);
          }
        });
      },
      pointToLayer: function(feature, latlng){
        return L.marker(latlng, { icon: plainBlueMarker })
      }
    });

    var fc_group = L.markerClusterGroup();
    fc_group.addLayer(items_layer);
    map.addLayer(fc_group);

    // Zoom to extent of item geometries
    map.fitBounds(fc_group.getBounds(), { padding: [10, 10]});
  }

  // Loads the content for the marker popup
  function loadPopupContent(marker){
    fid = marker.feature.properties.id;

    var request = new XMLHttpRequest();
    request.open('GET', '/api/v1/catalogs/'+catalog+'/items/'+fid+'.json');

    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        // Success!
        var feat = JSON.parse(request.responseText);
        marker._popup.setContent('<a href="'+feat._links.html+'">'+_t.view_item[locale]+'</a>');
      } else {
        marker._popup.setContent(_t.error[locale]);
      }
    };

    request.onerror = function() {
      marker._popup.setContent(_t.error[locale]);
    };

    request.send();
  }

  var _t = {
    "loading": {
      fr: "Chargement...",
      en: "Loading...",
      de: "Laden...",
      it: "Carico..."
    },
    "view_item": {
      fr: "Consulter la fiche",
      en: "View item",
      de: "Element anschauen",
      it: "Consultare l'oggetto"
    },
    "error": {
      fr: "Erreur. Impossible de charger l'objet.",
      en: "Error. Unable to load item data.",
      de: "Fehler. Kann Element nicht laden.",
      it: "Errore. Impossibile caricare l'oggetto."
    }
  }

</script>
