<%= bootstrap_form_for(@advanced_search, :remote => @advanced_search_config&.search_type_map?) do |f| %>
  <%= hidden_field_tag(:item_type, params[:item_type].presence || @advanced_search_config&.item_type&.slug) %>

  <% if params[:item_type].present? || @advanced_search_config.present? %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= t("advanced_searches.new.item_type_search",  item_type: @advanced_search_config.present? ? @advanced_search_config.item_type.name : @advanced_search.item_type.name) %></h3>
      </div>
      <% if @fields.count.zero? %>
        <div class="col-md-12">
          <%= t("advanced_searches.new.no_field_in_advance_search_configuration") %>
        </div>
      <% end %>
    </div>
  <% end %>

  <table class="table">
    <tbody>
      <% if params[:item_type].present? || @advanced_search_config.present? %>
        <% @fields.each_with_index do |field, i| %>
          <%= render_advanced_search_field(f, field, i) do |content| %>
            <tr>
              <th><%= field.name %></th>
              <td><%= content %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= f.primary(t("advanced_searches.new.submit")) %>
  <%= link_to(
        t("advanced_searches.new.start_over"),
        {
          :item_type => params[:item_type],
          :advanced_search_conf => params[:advanced_search_conf],
        },
        :class => "btn btn-text") %>
<% end %>
