<% provide(:title, "Advanced search") %>

<%= bootstrap_form_for(@advanced_search) do |f| %>
  <table class="table">
    <tbody>
      <% @advanced_search.fields.each do |field| %>
        <% next unless field.is_a?(Field::Text) %>

        <tr>
          <th><%= field.name %></th>
          <td>
            <%= f.fields_for(:criteria) do |f| %>
              <%= f.fields_for(field.uuid) do |f| %>
                <%= f.text_field("exact", :label => "has exact phrase") %>
                <%= f.text_field("contains", :label => "contains words") %>
                <%= f.text_field("excludes", :label => "excludes words") %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.primary("Search") %>
<% end %>
