<% provide(:title, "Advanced search") %>

<% if @advanced_search.item_types.many? %>
  <ul class="nav nav-tabs">
    <% @advanced_search.item_types.each do |type| %>
      <%= content_tag(
            :li,
            :role => "presentation",
            :class => ("active" if @advanced_search.item_type == type)) do %>
        <%= link_to(:type => type.slug) do %>
          <%= type.name %> search
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= bootstrap_form_for(@advanced_search) do |f| %>
  <%= hidden_field_tag(:type, params[:type]) %>

  <table class="table">
    <tbody>
      <% @advanced_search.fields.each do |field| %>
        <% next unless field.is_a?(Field::Text) %>

        <tr>
          <th><%= field.name %></th>
          <td>
            <%= f.fields_for(:criteria) do |f| %>
              <%= f.fields_for(field.uuid) do |f| %>
                <%= f.text_field("exact", :label => "has exact phrase") %>
                <%= f.text_field("contains", :label => "contains words") %>
                <%= f.text_field("excludes", :label => "excludes words") %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.primary("Search") %>
  <%= link_to("Start over", {}, :class => "btn btn-text") %>
<% end %>
