<% provide(:title, t(".title")) %>

<ul class="nav nav-tabs">
  <li id="default_search_type" class="dropdown <%= "active" if current_page?(new_advanced_search_path) %>">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= t(".default_search") %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% @item_types.each do |item_type| %>
          <%= content_tag(
            :li,
            :class => ("active" if item_type.slug == params[:item_type])) do %>
            <a href="<%= url_for(:item_type => item_type.slug) %>"><%= item_type.name %></a>
          <% end %>
        <% end %>
      </ul>
  </li>
  <% @advance_search_confs.each do |search_config| %>
    <%= content_tag(
          :li,
          :role => "presentation",
          :class => ("active" if search_config.id == @advanced_search_config&.id)) do %>
      <%= link_to(search_config.title, :advanced_search_conf => search_config.id) %>
    <% end %>
  <% end %>
</ul>

<% if @advanced_search_config.present? %>
<p>
  <div class="row"><div class="col-md-12"><%= @advanced_search_config.description %></div></div>
</p>
<% end %>

<%= render :partial => "form" %>

<% if @advanced_search_config&.search_type_map? %>
  <%= render :partial => "map", :locals => { :results => [] } %>
<% end %>
