<% provide(:title, t(".title")) %>

<% if @advanced_search.item_types.many? %>
  <ul class="nav nav-tabs">
    <% @advanced_search.item_types.each do |type| %>
      <%= content_tag(
            :li,
            :role => "presentation",
            :class => ("active" if @advanced_search.item_type == type)) do %>
        <%= link_to(t(".tab", :type => type.name), :type => type.slug) %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= bootstrap_form_for(@advanced_search) do |f| %>
  <%= hidden_field_tag(:type, params[:type]) %>

  <table class="table">
    <tbody>
      <% @advanced_search.fields.each do |field| %>
        <%# TODO: DRY up and move this logic into presenters and partials %>
        <% if field.is_a?(Field::Text) %>
          <tr>
            <th><%= field.name %></th>
            <td>
              <%= f.fields_for(:criteria) do |f| %>
                <%= f.fields_for(field.uuid) do |f| %>
                  <%= f.text_field("exact", :label => t(".has_exact_phrase")) %>
                  <%= f.text_field("contains", :label => t(".contains_words")) %>
                  <%= f.text_field("excludes", :label => t(".excludes_words")) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% elsif field.is_a?(Field::ChoiceSet) %>
          <tr>
            <th><%= field.name %></th>
            <td>
              <%= f.fields_for(:criteria) do |f| %>
                <%= f.fields_for(field.uuid) do |f| %>
                  <%= f.collection_select(
                        :any,
                        field.choices,
                        :id,
                        :short_name,
                        { :label => t(".any") },
                        :multiple => true) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= f.primary(t(".submit")) %>
  <%= link_to(
        t(".start_over"),
        { :type => params[:type] },
        :class => "btn btn-text") %>
<% end %>
