<div class="modal fade" id="choice-modal-<%= field.uuid %>" tabindex="-1" role="dialog" data-field-uuid="<%= field.uuid %>" data-lang="<%= I18n.locale %>" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <% choice = field.choice_set.choices.new %>
      <%= bootstrap_form_for(
            choice,
            url: catalog_admin_choice_set_create_choice_path(field.catalog, I18n.locale, field.choice_set),
            remote: true) do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t('.create_new_field', field: field.name) %></h4>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <%= locale_form_group(f, :short_name, :text_field, :label => t("catalog_admin.choice_sets.common_form_fields.short_name")) %>
            <%= locale_form_group(f, :long_name, :text_field, :label => t("catalog_admin.choice_sets.common_form_fields.long_name_optional")) %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><%= t('cancel') %></button>
          <%= f.submit t('create'), class: 'btn btn-success' %>
        </div>

      <% end %>

    </div>
  </div>
</div>
