<li class="w-100 list-unstyled py-1 ps-2" data-action="mouseover->hover-list#on mouseout->hover-list#off" data-sortable-choices-id="<%= choice.id %>">
  <div class="d-flex mb-1">
    <div class="flex-grow-1">
      <i class="fa fa-arrows-alt " style="transform: rotate(45deg);"></i>
      <span class="ps-2"><%= choice.short_name %></span>
      <% if choice.category.present? && choice.category.not_deleted? %>
        <span class="badge text-bg-info"><%= choice.category.name %></span>
      <% end %>
    </div>
    <div class="px-2">
      <% if policy(@choice_set).edit? %>
        <%= link_to(
              fa_icon(:pencil),
              edit_catalog_admin_choice_set_choice_path(choice.catalog, I18n.locale, @choice_set, choice),
              class: "btn btn-xs btn-outline-secondary choiceset-action-edit",
              "data-toggle" => "tooltip", "data-placement" => "top", "title" => t("edit")
            ) %>
        <%= link_to(
              fa_icon(:trash),
              catalog_admin_choice_set_choice_path(choice.catalog, I18n.locale, @choice_set, choice),
              method: :delete,
              class: "btn btn-xs btn-outline-secondary choice-action-destroy",
              "data-toggle" => "tooltip", "data-placement" => "top", "title" => t('.remove')) %>
      <% end %>
    </div>
  </div>
  <%= render 'choices', choices: choice.childrens, parent_id: choice.id, level: level + 1 %>
</li>
