<% provide(:title, t(".choice_sets")) %>

<% provide(:actions) do %>
  <%= link_to(new_catalog_admin_choice_set_path) do %>
    <%= fa_icon(:"plus-square", :text => t('.new_choice_set')) %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.choices') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @choice_sets.each do |set| %>
      <tr>
        <td><%= set.name %></td>
        <td><%= deactivation_status_label(set) %></td>
        <td><%= choice_set_abbreviated_choices(set) %></td>
        <td style="text-align: right">
          <% if policy(set).edit? %>
            <%= link_to(
                  fa_icon("pencil", :text => t("edit")),
                  edit_catalog_admin_choice_set_path(catalog, set),
                  :class => "btn btn-default btn-xs") %>

            <%= deactivation_toggle(
                  set,
                  :catalog_admin_choice_set_path,
                  catalog,
                  set,
                  :class => "btn btn-xs btn-text") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
