<% provide(:title, "New choice set") %>

<div class="panel-body">
  <%= bootstrap_form_for([:catalog_admin, @choice_set]) do |f| %>

    <%= render("common_form_fields", :f => f) %>

    <%= f.primary("Create choice set") %>
    <%= submit_and_add_another(f) %>
    <%= link_to(
          "Cancel",
          catalog_admin_choice_sets_path,
          :class => "btn btn-link") %>

  <% end %>
</div>
