<thead>
  <tr>
    <th style="width: 5em">Position</th>
    <th>Name</th>
    <th>Type</th>
    <th>Required?</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% fields.each_with_index do |field, index| %>
    <tr>
      <td>
        <%= index + 1 %>
        <%= field_move_up_link(field) unless index == 0 %>
        <%= field_move_down_link(field) unless index == fields.size - 1 %>
      </td>
      <td>
        <%= field.name %>
        <%= field_primary_badge(field) %>
      </td>
      <td>
        <%= field.type_name %>
        <%= field_i18n_badge(field) %>
      </td>
      <td><%= fa_icon(:check) if field.required? %></td>
      <td style="text-align: right">
        <% if policy(field).edit? %>
          <%= link_to(
                fa_icon("pencil", :text => "Edit"),
                edit_catalog_admin_category_field_path(
                  catalog,
                  @category,
                  field),
                :class => "btn btn-default btn-xs") %>
        <% end %>
        <% if policy(field).destroy? %>
          <%= link_to(
                fa_icon("trash-o", :text => "Delete"),
                { :action => :destroy, :slug => field },
                :class => "btn btn-xs btn-text",
                :method => :delete,
                :data => {
                  :confirm => "Are you sure you want to delete the "\
                              "“#{field.name}” field?"
                }) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
