<div class="stats-chart">
  <h4>Pageview, all (top <%= @top %> catalogs)</h4>
  <%= line_chart @stats_all, download: true %>
</div>
<div class="stats-chart">
  <h4>Pageview, admin (top <%= @top %> catalogs)</h4>
  <%= line_chart @stats_admin, download: true %>
</div>
<div class="stats-chart">
  <h4>Pageview, front (top <%= @top %> catalogs)</h4>
  <%= line_chart @stats_front, download: true %>
</div>
