<% if search_results.item_counts_by_type.many? %>
  <ul class="nav nav-tabs mb-3">
    <% @preferred_types.each do |type, count| %>
      <%= tag.li(
          :role => "presentation",
          :class => "nav-item") do %>
        <%= link_to(
          {type: type.slug, q: search_results.query},
          class: ["nav-link", ("active" if search_results.active?(type))]
        ) do %>
          <%= type.name_plural %>
          <% unless @catalog.requires_review %>
            <span class="badge rounded-pill bg-secondary ms-2">
              <%= number_with_delimiter(count) %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render_item_list(search_results, params) %>
<%= paginate(search_results.items) %>
