<table id="image-item-top-content">
  <tbody>
    <tr>
      <td id="image-column">
        <div>
          <div id="image-content">
            <% if @image && field_value(@item, @image).present? %>
              <%= field_value(@item, @image, :size => @image_size) %>
            <% end %>

            <div id="imgToolbar">
              <div id="imgActions">
                <% if exists_for_user?(@item) %>
                  <%= link_to(
                        image_tag("fav-on.gif", alt: t("items.buttons.favorites_remove"), :class => "fav-card"),
                        favorite_path(I18n.locale, @item),
                        :class => "favorites-remove",
                        :title => t("items.buttons.favorites_remove"),
                        method: :delete
                      ) %>
                <% else %>
                  <%= link_to(
                        image_tag("fav-off.gif", alt: t("items.buttons.favorites_add"), :class => "fav-card"),
                        favorites_path(I18n.locale, id: @item.id),
                        :class => "favorites-add",
                        :title => t("items.buttons.favorites_add"),
                        method: :post
                      ) %>
                <% end %>
                <% if policy(@item).edit? %>
                  <%= link_to(
                        image_tag("edit.gif", alt: t("edit"), :class => "fav-card"),
                        edit_catalog_admin_item_path(@item.catalog, I18n.locale, @item.item_type, @item),
                        :title => t("edit"),
                        :target => '_blank'
                      ) %>
                <% end %>
              </div>

              <% if @texte_dans_image && strip_tags(field_value(@item, @texte_dans_image)).present? %>
                <div class="info">
                  <a id ="texteImageLabel" href="#">
                    <span><%= @texte_dans_image.label %></span><%= image_tag("arrow-expand.gif", :id => "arrowtexteImage", :class => "info-toggle-img") %>
                  </a>
                </div>
                <div id="texteImage">
                  <%= field_value(@item, @texte_dans_image) %>
                </div>
              <% end %>
            </div>

            <% if @corpus && strip_tags(field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('etablissement'))).present? %>
              <div class="hidden" id="imageLegendEtablissment"><%= field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('etablissement')) %></div>
            <% end %>
            <% if @corpus && strip_tags(field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('droit-utilisation'))).present? %>
              <div class="hidden" id="imageLegendDroits"><%= field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('droit-utilisation')) %></div>
            <% end %>
          </div>

          <% if @image_id && strip_tags(field_value(@item, @image_id)).present? %>
            <div id="info-wrapper">
              <hr>
              <p id="info-content"><span><%= t(".viat-permanent-url") %>:</span> https://purl.org/viatimages/<%= params[:locale] %>/image/<%= @image_id.raw_value(@item) %></p>
            </div>
          <% end %>
        </div>
      </td>
      <td id="description-column">
        <div id="description-wrapper">
          <div id="description-titre">
            <% if @titre_trad && strip_tags(field_value(@item, @titre_trad)).present? %>
              <p id="titreLabel">
                <a id="titreDetailLabel" class="active" href="#">Titre original</a><span> | </span><a id="titreDetailTradLabel" class="inactive" href="#">Traduction</a>
              </p>
            <% end %>
            <% if @titre_original && strip_tags(field_value(@item, @titre_original)).present? %>
              <span id="titreDetail">«<%= field_value(@item, @titre_original) %>»</span>
            <% end %>
            <% if @titre_trad && strip_tags(field_value(@item, @titre_trad)).present? %>
              <span id="titreDetailTrad">«<%= field_value(@item, @titre_trad) %>»</span>
            <% end %>
          </div>

          <div id="details-top">
            <% if @illustrateurs && strip_tags(field_value(@item, @illustrateurs)).present? %>
              <div class="info">
                <span><%= t(".viat-illustrators") %></span><br>
                <% @illustrateurs.value_for_item(@item).each_with_index do |illustrateur, index| %>
                  <%= render "items/type/shared/associated_person", person: illustrateur, index: index %>
                  <br>
                <% end %>
              </div>
            <% end %>

            <% if @corpus && strip_tags(field_value(@item, @corpus)).present? %>
              <div class="info">
                <span><%= t(".viat-original-source") %></span>
                <div id="ouvrageSource">
                  <%= field_value(@item, @corpus) %>
                  <% if @date_edition %>
                    <%= @date_edition %>
                  <% end %>
                  <% if @corpus && strip_tags(field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('nombre-illustrations'))).present? %>
                    <%= field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('nombre-illustrations')) %> illustrations
                  <% end %>
                </div>
              </div>
            <% end %>

            <% if @corpus && strip_tags(field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('etablissement'))).present? %>
              <div id="etablissementImage" class="info">
                <%= field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('etablissement')) %>
                <% if @corpus && strip_tags(field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('cote'))).present? %>
                  cote: <%= field_value(@item.get_value(@corpus), @item.get_value(@corpus).item_type.find_field('cote')) %>
                <% end %>
              </div>
            <% end %> 

            <% if @description && strip_tags(field_value(@item, @description)).present? %>
              <div class="info">
                <span><%= @description.label %></span><br>
                <%= field_value(@item, @description).html_safe %>
              </div>
            <% end %>

            <div class="info">
              <a id="caracteristiquesLabel" href="#">
                <span><%= t(".viat-characteristics") %></span>
                <%= image_tag("arrow-expand.gif", :id => "arrowCaracteristiquesExpand", :class => "info-toggle-img") %>
                <%= image_tag("arrow-collapse.gif", :id => "arrowCaracteristiquesCollapse", :class => "info-toggle-img hidden") %>
              </a>
            </div>
            <div id="caracteristiques">
              <table>
                <tbody>
                <tr>
                  <td>
                    <div id="caracteristiquesGenerales" class="info">
                      <%= field_value(@item, @critere_technique) if @critere_technique && strip_tags(field_value(@item, @critere_technique)).present? %>
                      <% if @illustration_composee && strip_tags(field_value(@item, @illustration_composee)).present? %>
                        <% if @yes === strip_tags(field_value(@item, @illustration_composee)) %>
                          <%= @illustration_composee.label %>
                        <% end %>
                      <% end %>
                      <% if @planche_depliante && strip_tags(field_value(@item, @planche_depliante)).present? %>
                        <% if @yes === strip_tags(field_value(@item, @planche_depliante)) %>
                          <%= @planche_depliante.label %>
                        <% end %>
                      <% end %>
                      <% if @en_couleur && strip_tags(field_value(@item, @en_couleur)).present? %>
                        <% if @yes === strip_tags(field_value(@item, @en_couleur)) %>
                          <%= @en_couleur.label %>
                        <% end %>
                      <% end %>
                    </div>
                    <% if (@largeur && strip_tags(field_value(@item, @largeur)).present?) && (@hauteur && strip_tags(field_value(@item, @hauteur)).present?) %>
                      <div class="info">
                        <span><%= t(".viat-dimensions") %></span><br>
                        <%= field_value(@item, @largeur) %> x <%= field_value(@item, @hauteur) %> mm
                      </div>
                    <% end %>
                    <% if @echelle_origine && strip_tags(field_value(@item, @echelle_origine)).present? %>
                      <div class="info">
                        <span><%= @echelle_origine.label %></span><br>
                        <%= field_value(@item, @echelle_origine) %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if (@emplacement && strip_tags(field_value(@item, @emplacement)).present?) || (@emplacement_ouvrage && strip_tags(field_value(@item, @emplacement_ouvrage)).present?) %>
                      <div class="info">
                        <span><%= @emplacement_ouvrage.label %></span><br>
                        <div id="caracteristiquesEmplacement">
                          <% if @emplacement && strip_tags(field_value(@item, @emplacement)).present? %>
                            <%= field_value(@item, @emplacement) %>
                          <% end %>
                          <% if @emplacement_ouvrage && strip_tags(field_value(@item, @emplacement_ouvrage)).present? %>
                            <%= field_value(@item, @emplacement_ouvrage) %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                    <% if @genre && strip_tags(field_value(@item, @genre)).present? %>
                      <div class="info">
                        <span><%= @genre.label %></span><br>
                        <%= field_value(@item, @genre) %>
                      </div>
                    <% end %>
                    <% if @descripteur_carte && strip_tags(field_value(@item, @descripteur_carte)).present? %>
                      <div class="info">
                        <span><%= t(".viat-map-type") %></span><br>
                        <%= field_value(@item, @descripteur_carte) %>
                      </div>
                    <% end %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <% if (@remarques && strip_tags(field_value(@item, @remarques)).present?) ||
              (@image_lieu_edition && strip_tags(field_value(@item, @image_lieu_edition)).present?) ||
              (@date_evenement && strip_tags(field_value(@item, @date_evenement)).present?) %>
              <div class="info">
                <a id ="remarquesLabel" href="#">
                  <span><%= t(".viat-comments") %></span>
                  <%= image_tag("arrow-expand.gif", :id => "arrowRemarquesExpand", :class => "info-toggle-img") %>
                  <%= image_tag("arrow-collapse.gif", :id => "arrowRemarquesCollapse", :class => "info-toggle-img hidden") %>
                </a>
              </div>
              <div id="remarques">
                <% if @remarques && strip_tags(field_value(@item, @remarques)).present? %>
                  <p class="info">
                    <span><%= t(".viat-researcher-comments") %></span><br>
                    <%= field_value(@item, @remarques).html_safe %>
                  </p>
                <% end %>
                <% if @image_lieu_edition && strip_tags(field_value(@item, @image_lieu_edition)).present? %>
                  <p class="info">
                    <span><%= @image_lieu_edition.label %></span><br>
                    <%= field_value(@item, @image_lieu_edition) %>
                  </p>
                <% end %>
                <% if @date_evenement && strip_tags(field_value(@item, @date_evenement)).present? %>
                  <p class="info">
                    <span><%= @date_evenement.label %></span><br>
                    <%= field_value(@item, @date_evenement) %>
                  </p>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ul class="nav nav-tabs nav-justified" id="image-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="home" aria-selected="true"><%= t(".viat-details") %></a>
  </li>
  <% if @location && field_value(@item, @location).present? %>
    <li class="nav-item">
      <a class="nav-link" id="carte-tab" data-toggle="tab" href="#carte" role="tab" aria-controls="profile" aria-selected="false"><%= t(".viat-map") %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="image-item-tabs-content">
  <div class="tab-pane show fade active" id="details" role="tabpanel" aria-labelledby="nav-details-tab">
    <table>
      <tbody>
        <tr>
          <td>
            <% if @domaine && strip_tags(field_value(@item, @domaine)).present? %>
              <div class="info">
                <span><%= @domaine.label %></span>
              </div>
              <%= field_value(@item, @domaine) %>
            <% end %>
            <% if @keyword && strip_tags(field_value(@item, @keyword)).present? %>
              <div class="info">
                <span><%= @keyword.label %></span>
              </div>
              <div class="mots-cles">
                <%= field_value(@item, @keyword) %>
              </div>
            <% end %>
          </td>
          <td>
            <% if @geographie && strip_tags(field_value(@item, @geographie)).present? %>
              <p class="info">
                <span><%= @geographie.label %></span>
              </p>
              <% @geographie_sorted.each do |geo_group| %>
                <p class="info">
                  <%= strip_tags(field_value(geo_group.first, geo_group.first.item_type.find_field('geo-feature-class'))) %>:
                  <% geo_group.each do |geo_item| %>
                    <a href="<%= @base_feature_path + geo_item.id.to_s %>"><%= field_value(geo_item, geo_item.item_type.find_field('nom')) %></a><%= ', ' unless geo_item.equal? geo_group.last %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if @texte_legende && strip_tags(field_value(@item, @texte_legende)).present? %>
              <div class="info">
                <span><%= t(".viat-legend") %></span>
              </div>
              <%= field_value(@item, @texte_legende) %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="carte" role="tabpanel" aria-labelledby="nav-carte-tab">
    <% if @location && field_value(@item, @location).present? %>
      <div id="carte-content">
        <%= field_value(@item, @location) %>
      </div>
    <% end %>
  </div>

  <% if @texte_associe && field_value(@item, @texte_associe).present? %>
    <div id="inlinepdf-wrapper">
      <div id="inlinepdf">
        <div id="textesAuteurs">
          <%= t(".viat-author-texts") %>
          <span id="emplacementOuvrage" class="info">
            <span><%= t(".viat-document") %>:</span>
            <% if @texte_associe.value_for_item(@item).count > 1 %>
              <select id="sel_texte_associe">
                <%  @texte_associe.value_for_item(@item).each do |text| %>
                  <% if field_value(text, text.item_type.find_field('pdf')).present? %>
                    <option value="/<%= text.item_type.find_field('pdf').raw_value(text).fetch("path") %>">
                      <%= render "items/type/shared/associated_text", :text => text %>
                    </option>
                  <% end %>
                <% end %>
              </select>
            <% else %>
              <%  @texte_associe.value_for_item(@item).each do |text| %>
                <%= render "items/type/shared/associated_text", :text => text %>
              <% end %>
            <% end %>
          </span>
          <% if @texte_associe.value_for_item(@item).first.item_type.find_field('pdf').raw_value(@texte_associe.value_for_item(@item).first).present? %>
            <span id="pdfLink">
              <a href="/<%= @texte_associe.value_for_item(@item).first.item_type.find_field('pdf').raw_value(@texte_associe.value_for_item(@item).first).fetch("path") %>" target="_blank">
                <%= t(".viat-download-pdf") %>
              </a>
              <a href="/<%= @texte_associe.value_for_item(@item).first.item_type.find_field('pdf').raw_value(@texte_associe.value_for_item(@item).first).fetch("path") %>" download>
                <%= image_tag("pdf-icon.png") %>
              </a>
            </span>
          <% end %>
        </div>
        <% if @texte_associe.value_for_item(@item).first.item_type.find_field('pdf').raw_value(@texte_associe.value_for_item(@item).first).present? %>
          <iframe id="inlinePdfFrame" src="/<%= @texte_associe.value_for_item(@item).first.item_type.find_field('pdf').raw_value(@texte_associe.value_for_item(@item).first).fetch("path") %>"></iframe>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @chercheur && strip_tags(field_value(@item, @chercheur)).present? %>
    <div id="chercheurWrapper">
      <div id="chercheur">
        <%= t(".viat-index-desc") %>: <%= field_value(@item, @chercheur) %>
        <% if strip_tags(field_value(@item.get_value(@chercheur), @item.get_value(@chercheur).item_type.find_field('etablissement'))).present? %>
          <% if @item.get_value(@chercheur).item_type.find_field('etablissement').value_for_item(@item.get_value(@chercheur)).get_value('url').present? %>
            <a href="<%= @item.get_value(@chercheur).item_type.find_field('etablissement').value_for_item(@item.get_value(@chercheur)).get_value('url') %>" target="_blank"><%= @item.get_value(@chercheur).item_type.find_field('etablissement').value_for_item(@item.get_value(@chercheur)).item_type.find_field('nom').raw_value(@item.get_value(@chercheur).item_type.find_field('etablissement').value_for_item(@item.get_value(@chercheur))) %></a>
          <% else %>
            <%= @item.get_value(@chercheur).item_type.find_field('etablissement').value_for_item(@item.get_value(@chercheur)).item_type.find_field('nom').raw_value(@item.get_value(@chercheur).item_type.find_field('etablissement').value_for_item(@item.get_value(@chercheur))) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  // Enable the bootstrap tabs
  let triggerTabList = [].slice.call(document.querySelectorAll('#image-tabs a'))
  triggerTabList.forEach(function (triggerEl) {
    let tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (event) {
      event.preventDefault()
      tabTrigger.show()
    })
  })
</script>
