<div class="card panel-default">
  <div class="card-header">
    <h4 class="card-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= id %>">
        <%= title %>
        <span class="pull-right"><%= fa_icon "chevron-down "%></span>
      </a>
    </h4>
  </div>
  <div id="<%= id %>" class="panel-collapse collapse">
    <div class="card-body"><%= markdown_2_html(file_name).html_safe %></div>
  </div>
</div>
