<% provide(:title, t(".title")) %>

<div id="doc-content">
  <%= markdown_2_html("introduction.md").html_safe %>

  <br>

  <div class="panel-group" id="doc-accordion">
    <%= render("documentation/accordion_item",
               title: t(".guest"),
               file_name: "guest.md",
               id: random_id)

    %>

    <% if current_user.catalog_role_at_least?(@catalog, 'user') %>
      <%= render("documentation/accordion_item",
                 title: t(".user"),
                 file_name: "user.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'editor') %>
      <%= render("documentation/accordion_item",
                 title: t(".editor"),
                 file_name: "editors.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'super-editor') %>
      <%= render("documentation/accordion_item",
                 title: t(".super-editor"),
                 file_name: "supereditors.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'reviewer') %>
      <%= render("documentation/accordion_item",
                 title: t(".reviewer"),
                 file_name: "reviewer.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'admin') %>
      <%= render("documentation/accordion_item",
                 title: t(".admin"),
                 file_name: "admin.md",
                 id: random_id)
      %>
    <% end %>
  </div>
</div>
