<% provide(:title, t('.title')) %>

<div id="doc-content">
  <%= markdown_2_html("1-introduction.md").html_safe %>

  <br>

  <div class="panel-group" id="doc-accordion">
    <%= render("documentation/accordion_item",
               title: "Search",
               file_name: "2-search.md",
               id: random_id)

    %>

    <% if current_user.catalog_role_at_least?(@catalog, 'user') %>
      <%= render("documentation/accordion_item",
                 title: "Favorites & groups",
                 file_name: "3-favorites.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'editor') %>
      <%= render("documentation/accordion_item",
                 title: "Catalog editing",
                 file_name: "4-data.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'admin') %>
      <%= render("documentation/accordion_item",
                 title: "Catalog admin",
                 file_name: "5-setup.md",
                 id: random_id)
      %>
    <% end %>
  </div>
</div>
