<% provide(:title, "Documentation") %>

<div id="doc-content">
  <%= markdown_2_html('https://raw.githubusercontent.com/catima/userdoc/v2/fr/docs/user-guide/1-introduction.md') %>

  <br>

  <div class="panel-group" id="doc-accordion">
    <%= render("documentation/accordion_item",
               title: "Search",
               content_url: "https://raw.githubusercontent.com/catima/userdoc/v2/fr/docs/user-guide/2-basics.md",
               id: random_id)

    %>

    <% if current_user.catalog_role_at_least?(@catalog, 'user') %>
      <%= render("documentation/accordion_item",
                 title: "Favorites & groups",
                 content_url: "https://raw.githubusercontent.com/catima/userdoc/v2/fr/docs/user-guide/2-basics.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'editor') %>
      <%= render("documentation/accordion_item",
                 title: "Catalog staff",
                 content_url: "https://raw.githubusercontent.com/catima/userdoc/v2/fr/docs/user-guide/3-data.md",
                 id: random_id)
      %>
    <% end %>

    <% if current_user.catalog_role_at_least?(@catalog, 'admin') %>
      <%= render("documentation/accordion_item",
                 title: "Catalog admin",
                 content_url: "https://raw.githubusercontent.com/catima/userdoc/v2/fr/docs/user-guide/4-setup.md",
                 id: random_id)
      %>
    <% end %>
  </div>
</div>