<%= javascript_pack_tag 'template-editor-bundle' %>

<div class="form-group">
  <%= f.label('Item type') %>
  <div><%= @item_view.item_type.slug %></div>
</div>

<%= f.text_field(:name) %>

<table>
  <tr>
    <td style="padding-right: 10px;">
      <%= f.check_box(
        :default_for_item_view,
        label: 'Use as item view'
      ) %>
    </td>
    <td><span style="color: #666;" data-toggle="popover" title="What is an item view?" data-content="The item view is how the details of an individual item are shown to the user."><i class="fa fa-question-circle-o"></i></span></td>
  </tr>
  <tr>
    <td style="padding-right: 10px;">
      <%= f.check_box(
        :default_for_list_view,
        :label => 'Use as list view'
      ) %>
    </td>
    <td><span style="color: #666;" data-toggle="popover" title="What is a list view?" data-content="The list view shows a short description of a series of items, along with a link to the item view."><i class="fa fa-question-circle-o"></i></span></td>
  </tr>
  <tr>
    <td style="padding-right: 10px;">
      <%= f.check_box(
        :default_for_display_name,
        :label => 'Use as display name'
      ) %>
    </td>
    <td><span style="color: #666;" data-toggle="popover" title="What is the display name?" data-content="The display name is used to show a simple name of the item, for example as the title of the item. By default, the primary field is used."><i class="fa fa-question-circle-o"></i></span></td>
  </tr>
</table>

<hr>
<%= f.hidden_field(:template) %>
<%= f.label(:template) %>

<div id="template-tabs">

  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <% @item_view.item_type.catalog.valid_locales.each_with_index do |l, i| %>
      <li role="presentation" class="<% if i==0 %>active<% end %>"><a href="#<%= l %>"><%= l %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @item_view.item_type.catalog.valid_locales.each_with_index do |l, i| %>
    <div role="tabpanel" class="tab-pane <% if i==0 %>active<% end %>" id="<%= l %>">
      <div class="tabcontent">
        <%= react_component("TemplateEditor", props: {
          :contentRef => "item_view_template",
          :locale => l,
          :fields => @item_view.item_type.fields.map { |f| {slug: f.slug, name: f.name, type: f.type[7..-1]} }
        }, prerender: false) %>
      </div>
    </div>
    <% end %>
  </div>

</div>
<script>
  $('#template-tabs .nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });
  $('[data-toggle="popover"]').popover();
</script>

<hr>
