
<div class="form-group">
  <%= f.label(t('item_type')) %>
  <div><%= @item_view.item_type.slug %></div>
</div>

<%= f.text_field(:name) %>

<table>
  <tr>
    <td style="padding-right: 10px;">
      <%= f.check_box(
        :default_for_item_view,
        label: t('.use_item_view')
      ) %>
    </td>
    <td><span style="color: #666;" data-toggle="popover" title="<%= t('.help_item_view_title') %>" data-content="<%= t('.help_item_view_content') %>"><i class="fa fa-question-circle-o"></i></span></td>
  </tr>
  <tr>
    <td style="padding-right: 10px;">
      <%= f.check_box(
        :default_for_list_view,
        :label => t('.use_list_view')
      ) %>
    </td>
    <td><span style="color: #666;" data-toggle="popover" title="<%= t('.help_list_view_title') %>" data-content="<%= t('.help_list_view_content') %>"><i class="fa fa-question-circle-o"></i></span></td>
  </tr>
  <tr>
    <td style="padding-right: 10px;">
      <%= f.check_box(
        :default_for_display_name,
        :label => t('.use_display_name')
      ) %>
    </td>
    <td><span style="color: #666;" data-toggle="popover" title="<%= t('.help_display_name_title') %>" data-content="<%= t('.help_display_name_content') %>"><i class="fa fa-question-circle-o"></i></span></td>
  </tr>
</table>

<hr>
<%= f.hidden_field(:template) %>
<%= f.label(:template) %>

<div id="template-tabs">
  <ul class="nav nav-tabs" class="mb-0">
    <% @item_view.item_type.catalog.valid_locales.each_with_index do |l, i| %>
      <li role="presentation" class="nav-item">
        <%= link_to l, "##{l}", class: ["nav-link", ('active' if i == 0)], "data-toggle": "tab" %>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @item_view.item_type.catalog.valid_locales.each_with_index do |l, i| %>
      <div id="<%= l %>" role="tabpanel" class="tab-pane <%= "active" if i == 0 %>">
      <div class="tabcontent">
        <%= react_component("TemplateEditor/components/TemplateEditor", {
          :contentRef => "item_view_template",
          :locale => l,
          :fields => @item_view.item_type.fields.map { |f| {slug: f.slug, name: f.name, type: f.type[7..-1]} }
        }) %>
      </div>
    </div>
    <% end %>
  </div>

</div>

<script>
  $('#template-tabs .nav-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $('[data-toggle="popover"]').popover();
  $('.dropdown-toggle').dropdown();
</script>

<hr>
