<div style="max-width: 300px; margin: 0 auto;">

  <% if auth_providers.include? :github %>
    <%= link_to(
      fa_icon('github') + ' ' + t('.log_in_with', provider: 'Github'),
      user_github_omniauth_authorize_path,
      class: 'btn btn-outline-secondary',
      style: 'width: 100%; margin-bottom: 10px;',
      method: :post) %>
  <% end %>

  <% if auth_providers.include? :facebook %>
    <%= link_to(
      fa_icon('facebook-square') + ' ' + t('.log_in_with', provider: 'Facebook'),
      user_facebook_omniauth_authorize_path,
      class: 'btn btn-outline-secondary',
      style: 'width: 100%; margin-bottom: 10px;',
      method: :post) %>
  <% end %>

  <% if auth_providers.include? :shibboleth %>
    <%= link_to(
      t('.log_in_with', provider: ENV['AUTH_SHIB_NAME'] || 'Shibboleth'),
      user_shibboleth_omniauth_authorize_path,
      class: 'btn btn-outline-secondary',
      style: 'width: 100%; margin-bottom: 10px;',
      method: :post) %>
  <% end %>

  <% if auth_providers.length > 0 %>
    <div style="text-align: center; margin: 20px 0; color: #999;"><%= t('or') %></div>
  <% end %>

<%= bootstrap_form_for(
      resource,
      :as => resource_name,
      :url => session_path(resource_name)) do |f| %>

  <%= f.email_field(:email, :autofocus => true, :autocomplete => "username") %>
  <%= f.password_field(:password, :autocomplete => "current-password") %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box(:remember_me) %>
  <% end -%>

  <%= f.primary(t(".submit")) %>
<% end %>

<hr>

<%= render("devise/shared/links") %>

</div>
