<% provide(:title, t('.new_group_for_catalog', catalog: catalog.name)) %>

<div class='card-body'>
  <%= bootstrap_form_for([:catalog_admin, @group]) do |f| %>

    <%= render('common_form_fields', :f => f) %>

    <%= f.primary(t('.create_group')) %>
    <%= submit_and_add_another(f) %>
    <%= link_to(
          t('cancel'),
          catalog_admin_users_path,
          class: 'btn btn-link') %>

  <% end %>
</div>
