<p><%= t("common.greeting") %>,</p>

<p>
  <div>
    <%= t(".export_available", :category => @export.category) %>
  </div>
  <br>
  <div>
    <%= link_to t(".download_export", :validity => distance_of_time_in_words(@export.created_at, Export.validity.ago)),
                download_catalog_admin_export_url(@export.catalog.slug, I18n.locale, @export.id)
    %>
  </div>
</p>

<p>
  <div>
    <%= t(".export_logs", :catalog_name => @export.catalog.name) %>
    <%= link_to t(".here"), catalog_admin_exports_url(@export.catalog.slug, I18n.locale) %>.
  </div>
</p>
