<% if @selected_catalog && @list.present? %>
  <strong><%= t(".selected_catalog") %>: "<%= @selected_catalog.name %>"</strong>
  (<%= link_to t(".back_to_list"), searches_path %>)
  <hr>
<% end %>

<% if @list.blank? %>
  <div class="alert alert-warning">
    <%= empty_searches_warning(@selected_catalog) %>
  </div>
<% end %>

<% @list.unpaginaged_items.each_with_index do |search, i| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= search.search_name %>
      </h4>
    </div>
    <%= render "searches/buttons", :search => search if searches_scoped? %>
  </div>
<% end %>
