<% provide(:title, t('.rename_search', group: @search.name)) %>

<div class='card-body'>
  <%= bootstrap_form_for(@search, url: search_path) do |f| %>

    <%= f.form_group(:name) do %>
      <%= f.text_field(:name, :label => t(".name")) %>
    <% end %>

    <hr>
    <%= f.primary(t('.update_search')) %>
    <%= link_to(
          t('cancel'),
          searches_path,
          class: 'btn btn-link') %>
  <% end %>
</div>
