<p>
  <%= link_to(
        fa_icon(:"chevron-circle-left", :text => t(".back")),
        item_list_path
        ) %>

  <span class="pull-right">
    <% if nav.previous %>
      <%= item_list_link(item_list, nav.previous, nav.previous_offset) do %>
        <%= fa_icon(:"chevron-left") %>
        <%= t(".previous", :item => item_display_name(nav.previous)) %>
      <% end %>
    <% end %>
    &nbsp;&nbsp;
    <% if nav.next %>
      <%= item_list_link(item_list, nav.next, nav.next_offset) do %>
        <%= t(".next", :item => item_display_name(nav.next)) %>
        <%= fa_icon(:"chevron-right") %>
      <% end %>
    <% elsif nav.previous %>
      <%= t(".no_more") %>
    <% end %>
  </span>
</p>
