<% item_list.items.each_with_index do |item, i| %>
  <div class="media">
    <% if item_has_thumbnail?(item) %>
      <div class="pull-left">
        <%= item_list_link(item_list, item, i) do %>
          <%= item_thumbnail(item, :class => "media-object") %>
        <% end %>
      </div>
    <% end %>
    <div class="media-body">
      <% if item.item_type.default_list_view.nil? == true %>
        <h4 class="media-heading">
          <%= item_list_link(item_list, item, i, item_display_name(item)) %>
        </h4>
        <%= item_summary(item) %>
      <% else %>
        <%= item_list_view(item) %>
      <% end %>
    </div>
  </div>
<% end %>
