<p>
  <%= link_to(
        fa_icon(:"chevron-circle-left", :text => t(".back")),
        search_path
        ) %>

  <span class="pull-right">
    <% if nav.previous %>
      <%= search_item_link(nav.previous, nav.previous_offset) do %>
        <%= fa_icon(:"chevron-left") %>
        <%= t(".previous", :item => nav.previous.display_name) %>
      <% end %>
    <% end %>
    &nbsp;&nbsp;
    <% if nav.next %>
      <%= search_item_link(nav.next, nav.next_offset) do %>
        <%= t(".next", :item => nav.next.display_name) %>
        <%= fa_icon(:"chevron-right") %>
      <% end %>
    <% elsif nav.previous %>
      <%= t(".no_more") %>
    <% end %>
  </span>
</p>
