<div data-toggle-display-target="revealable">
  <%= bootstrap_form_for(@item.suggestions.new, url: item_suggestions_path(item_id: @item.id)) do |f| %>
    <%= f.text_area :content, hide_label: true %>
    <%= recaptcha_tags %>
    <%= f.primary(t('.create_suggestion')) %>
    <%= link_to t("cancel"), '#', :class => "btn btn-link", "data-action": "click->toggle-display#reveal" %>
  <% end %>
</div>
