<% provide(:title, @item.display_name) %>

<%= render_item_list_nav(search, @item) if search %>

<table class="table">
  <tbody>
    <% item_type.list_view_fields.each do |field| %>
      <tr>
        <th><%= field.name %></th>
        <td><%= field_value(@item, field) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% items_referenced_by_fields do |field, browse| %>
  <h3><%= field.item_type.name_plural %></h3>
  <%= render("shared/search/results_list", :search => browse) %>
  <% if browse.more? %>
    <%= link_to(items_path(
          :item_type_slug => browse.item_type,
          browse.field.slug => browse.value
        )) do %>
      <%# TODO: i18n %>
      View more
      (<%= pluralize(browse.total_count, "item") %>)
    <% end %>
  <% end %>
<% end %>
