<%= locale_language_select(
      f,
      :primary_language,
      :help => t('.preferred_language')
    )%>

<hr>

<label><%= catalog.name %></label>
<p class="help-block">
  <%= t('.user_role').html_safe %>
  <%= t('.member_role').html_safe %>
  <%= t('.editor_role').html_safe %>
  <%= t('.super_editor_role').html_safe %>
  <% if catalog.requires_review? %>
    <%= t('.reviewer_role').html_safe %>
  <% end %>
</p>

<%= render_catalog_admin_users_permission(f) %>

<hr>
