<% if current_user.my_groups.count == 0 %>
  <div class="alert alert-warning" style="margin-bottom: 0;">
    <%= t('.no_own_groups_warning') %>
  </div>
<% end %>

<% if current_user.my_groups.count > 0 %>
  <table class="table" id="group-permissions-table">
  <tbody>
    <% current_user.my_groups.each do |grp| %>
      <tr>
        <td><%= grp.name %></td>
        <td>
          <%= form_for(grp, url: group_path(id: grp.id), remote: true, authenticity_token: true) do |f| %>
            <%= hidden_field_tag :catalog_id, catalog.id %>
            <div class="btn-group" data-group="<%= grp.id %>" data-toggle="buttons">
              <% group_roles(grp, catalog).each do |role, active| %>
                <label class="btn btn-default btn-xs <%= active ? 'active' : '' %>" style="padding-left: 1.5em; padding-right: 1.5em;">
                  <%= radio_button_tag(:role, role) %>
                  <%= role.capitalize %>
                </label>
              <% end %>
            </div>
            <%= f.submit 'OK', class: 'hidden' %>
          <% end %>
        </td>
        <td style="text-align: right;">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<script>
  var group_roles_handler = function(e){
    var btn_group = e.target.parentElement;
    var group_id = btn_group.getAttribute('data-group');
    var submit_button = document.querySelector('#edit_group_' + group_id + ' input[type=submit]');
    window.setTimeout(function(){
      submit_button.click();
    }, 100);
  };

  var group_permissions_buttons = document.querySelectorAll('#group-permissions-table .btn-group label');
  for (var i=0; i < group_permissions_buttons.length; i++){
    group_permissions_buttons[i].addEventListener('click', group_roles_handler, false);
  }
</script>
