<% provide(:extra_setup_top) do %>
  <div class="alert alert-primary" role="alert">
    <%= t('.documentation_url_html', :url => documentation_url("faqinvitation.html")) %>
  </div>
  <hr>
<% end %>

<% provide(:title, t('.groups')) %>

<% provide(:actions) do %>
  <%= link_to(
        fa_icon(:"plus-square", text: t('.new_group')),
        new_catalog_admin_group_path,
        class: 'btn btn-xs btn-outline-secondary') %>
<% end %>

<% if catalog.groups.count == 0 %>
  <div class="alert alert-warning" style="margin-bottom: 0;">
    <%= t('.no_groups_for_catalog_warning') %>
  </div>
<% end %>

<% if catalog.groups.count > 0 %>
  <table class="table" id="group-permissions-table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.roles') %></th>
      <th><%= t('.is_active') %></th>
      <th><%= t('.is_public') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% catalog.groups.each do |grp| %>
      <tr>
        <td><%= grp.name %></td>
        <td>
          <%= form_for([catalog, grp], url: catalog_admin_group_path(id: grp.id), remote: true, authenticity_token: true) do |f| %>
            <div class="btn-group" data-group="<%= grp.id %>" data-toggle="buttons">
              <% group_roles(grp, catalog).each do |role, active| %>
                <label class="lbl-<%= role %> btn btn-outline-secondary btn-xs <%= active ? 'active' : '' %>" style="padding-left: 1.5em; padding-right: 1.5em;">
                  <%= radio_button_tag(:role, role, !!active) %>
                  <%= role.capitalize %>
                </label>
              <% end %>
            </div>
            <%= f.submit 'OK', class: 'd-none' %>
          <% end %>
        </td>
        <td>
          <%= fa_icon(:check) if grp.active? %>
        </td>
        <td>
          <%= fa_icon(:check) if grp.public? %>
        </td>
        <td align="right">
          <%= render "shared/actions/group", :model => grp %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<script>
  var group_roles_handler = function(e){
    var btn_group = e.target.parentElement;
    var group_id = btn_group.getAttribute('data-group');
    var submit_button = document.querySelector('#edit_group_' + group_id + ' input[type=submit]');
    window.setTimeout(function(){
      submit_button.click();
    }, 100);
  };

  var group_permissions_buttons = document.querySelectorAll('#group-permissions-table .btn-group label');
  for (var i=0; i < group_permissions_buttons.length; i++){
    group_permissions_buttons[i].addEventListener('click', group_roles_handler, false);
  }
</script>

<% provide(:extra_setup_bottom) do %>
  <hr/>
  <% if @users %>
    <div class="card panel-default user-panel">
      <div class="card-header">
        <%= render 'shared/search_form',
                   :controller => 'catalog_admin/users',
                   :action => 'index',
                   :placeholder => t('.search'),
                   :anchor => nil
        %>
        <span class="pull-right">
          <%= link_to(new_catalog_admin_user_path) do %>
            <%= fa_icon(:"user-plus", :text => t('new_user')) %>
          <% end %>
        </span>
      </div>
      <%= render 'catalog_users' %>
    </div>
    <%= paginate(@users) %>
  <% end %>
<% end %>
