<%= javascript_pack_tag 'catalog-admin-bundle' %>
<%= stylesheet_pack_tag 'catalog-admin-bundle' %>

<%= hidden_field_tag(:type, params[:type]) if params[:type] %>

<%= locale_form_group(f, :name, :text_field, :label => t(".name"), :autofocus => true) %>
<%= locale_form_group(f, :name_plural, :text_field, :label => t(".name_plural")) %>
<%= f.text_field(:slug, :label => t(".slug_singular"), :help => slug_help_text) %>
<%= f.text_area(:comment, :label => t(".comment_optional")) %>

<hr>

<h4><%= t('.display_options') %></h4>

<% if f.object.component_choice?(:display) %>
  <%= f.select(
        :display_component,
        f.object.component_choices(:display),
        :label => t(".display_component"),
        :help => t(".display_component_help")) %>
<% end %>

<% if primary_option?(f.object) %>
  <%= f.form_group(:primary) do %>
    <%= f.check_box(
          :primary,
          :label => t('.use_as_primary_field')
        ) %>
  <% end %>
<% end %>
<%= f.form_group(:display_in_list) do %>
  <%= f.check_box(
        :display_in_list,
        :label => t('.include_in_list_view')
      ) %>
<% end %>
<%= f.form_group(:display_in_public_list) do %>
  <%= f.check_box(
          :display_in_public_list,
          :label => t('.include_in_public_list_view')
      ) %>
<% end %>
<% if restricted_option?(f.object) %>
  <%= f.form_group(:restricted) do %>
    <%= f.check_box(
          :restricted,
          :label => t('.restrict_field_to_staff')
        ) %>
  <% end %>
<% end %>

<hr>

<h4><%= t('.data_entry_options') %></h4>

<% if f.object.component_choice?(:editor) %>
  <%= f.select(
        :editor_component,
        f.object.component_choices(:editor),
        :label => t(".editor_component"),
        :help => t(".editor_component_help")) %>
<% end %>

<% if f.object.allows_style? %>
  <%= field_style_select(f) %>
<% end %>

<% if f.object.allows_unique? %>
  <%= f.form_group(:unique) do %>
    <%= f.check_box(
          :unique,
          :label => t('.must_be_unique')) %>
  <% end %>
<% end %>

<hr>

<%= render_catalog_admin_fields_option_inputs(f) %>

<hr>

<%= f.primary(t(".#{@field.persisted? ? 'save' : 'create'}_field")) %>
<%= link_to(t("cancel"), { :action => :index }, :class => "btn btn-link") %>
