<%= hidden_field_tag(:type, params[:type]) if params[:type] %>

<%= locale_form_group(f, :name, :text_field, :autofocus => true) %>
<%= locale_form_group(f, :name_plural, :text_field, :label => t(".name_plural")) %>
<%= f.text_field(:slug, :label => t(".slug_singular"), :help => slug_help_text) %>
<%= f.text_area(:comment, :label => t(".comment_optional")) %>

<hr>

<h4><%= t('.display_options') %></h4>

<% unless f.object.is_a?(Category) %>
  <%= f.form_group(:primary) do %>
    <%= f.check_box(
          :primary,
          :label => t('.use_as_primary_field')
        ) %>
  <% end %>
<% end %>
<%= f.form_group(:display_in_list) do %>
  <%= f.check_box(
        :display_in_list,
        :label => t('.include_in_list_view')
      ) %>
<% end %>

<hr>

<h4><%= t('.data_entry_options') %></h4>

<%= f.text_field(
      :editor_component,
      :label => t(".editor_component"),
      :help => t(".editor_component_help")) %>

<%= f.text_field(
      :display_component,
      :label => t(".display_component"),
      :help => t(".display_component_help")) %>

<%= field_style_select(f) %>

<%= f.form_group(:unique) do %>
  <%= f.check_box(
        :unique,
        :label => t('.must_be_unique')) %>
<% end %>

<%= render_catalog_admin_fields_option_inputs(f) %>

<hr>

<%= f.primary(t(".#{@field.persisted? ? 'save' : 'create'}_field")) %>
<%= link_to(t("cancel"), { :action => :index }, :class => "btn btn-link") %>
