<div id="template-tabs">
  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <% @field.item_type.catalog.valid_locales.each_with_index do |l, i| %>
      <li role="presentation" class="nav-item">
        <%= link_to l, "##{l}", class: ["nav-link", ('active' if i == 0)], "data-toggle": "tab" %>
      </li>
    <% end %>
  </ul>

  <%= f.hidden_field(:template, value: f.object.template || JSON.dump(@field.item_type.catalog.valid_locales.map { |e| [e, ''] }.to_h)) %>

  <div class="tab-content">
    <% @field.item_type.catalog.valid_locales.each_with_index do |l, i| %>
        <div id="<%= l %>" role="tabpanel" class="tab-pane <%= "active" if i == 0 %>">
        <div class="tabcontent">
          <%= react_component("TemplateEditor/components/TemplateEditor", {
            :contentRef => "field_template",
            :locale => l,
            :noItemField => true,
            :fields => @field.item_type.fields.reject { |f| f.id == @field.id || (!f.human_readable? && !f.is_a?(Field::Compound)) }.map { |f| {slug: f.slug, name: f.name, type: f.type[7..-1]} }
          }) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
