<hr>

<h4><%= t(".bounds") %></h4>
<%= f.form_group(
    :bounds,
    :help => t(".bounds_help")
) do %>
  <%= f.hidden_field(:bounds) %>
  <%= react_component('GeoBounds', props: { bounds: f.object.default_bounds(-145, 185, -60, 70) }) %>
<% end %>
<h4 style="margin-top:20px;"><%= t(".layers") %></h4>
<%= f.form_group(
    :layers,
    :help => t(".layers_help")
) do %>
  <%= f.hidden_field(:layers) %>
  <%= react_component('GeoLayers',
    props: {
      layers: f.object.parsed_layers,
      options: Field::Geometry::LAYERS,
      placeholder: t(".layers_component_placeholder"),
      noOptionsMessage: t(".layers_component_no_options"),
    },
    prerender: false) %>
<% end %>
