<hr>

<%= f.form_group(
  :layers,
  label: { text: t(".layers") },
  :help => t(".layers_help")
) do %>
  <%= f.hidden_field(:layers) %>
  <%= react_component('GeoEditor/components/GeoLayers',
    {
      layers: f.object.geo_layers,
      options: load_geo_layers,
      inputId: "field_layers",
      placeholder: t(".layers_component_placeholder"),
      noOptionsMessage: t(".layers_component_no_options")
    }) %>
<% end %>

<%= f.form_group(
  :zoom,
  label: { text: t(".zoom_level") },
) do %>
  <%=
    f.collection_select(
      :zoom,
      Field::Geometry::ZOOM_LEVEL,
      ->(zoom_label) { zoom_label[1] },
      ->(zoom_level) { t(".zoom_#{zoom_level[0]}") },
      {
        :hide_label => true,
        :selected => f.object.zoom_level,
        :help => t(".zoom_help")
      }
    )
  %>
<% end %>

<%= f.form_group do %>
  <label class="form-label">
    <%= t(".colors") %>
  </label>

  <div>
    <div class="geo-colors-wrapper">
      <span><%= t(".polygons") %>:</span>
      <div class="geo-colors-button">
        <input class="form-control minicolor-input"
               type="hidden"
               name="field[polygon]"
               id="field_polygon"
               value="<%= f.object.polygon_color %>"
        >
      </div>
    </div>
    <div class="geo-colors-wrapper">
      <span><%= t(".polylines") %>:</span>
      <div class="geo-colors-button">
        <input class="form-control minicolor-input"
               type="hidden"
               name="field[polyline]"
               id="field_polyline"
               value="<%= f.object.polyline_color %>"
        >
      </div>
    </div>
    <small class="form-text text-muted">
      <%= t(".colors_help") %>
    </small>
  </div>
<% end %>

<%= f.form_group(
  :bounds,
  label: { text: t(".bounds") },
  :help => t(".bounds_help")
) do %>
  <%= f.hidden_field(:bounds) %>
  <%= react_component('GeoEditor/components/GeoBounds', {
    bounds: f.object.default_bounds(xmin: -145, xmax: 185, ymin: -60, ymax: 70),
    layers: f.object.geo_layers
  }) %>
<% end %>
