<thead>
  <tr>
    <th style="width: 5em">Position</th>
    <th>Slug</th>
    <th><%= t '.name' %></th>
    <th><%= t '.type' %></th>
    <th><%= t '.required?' %></th>
    <th><%= t '.list_view?' %></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% fields.each_with_index do |field, index| %>
    <tr>
      <td>
        <%= index + 1 %>
        <%= field_move_up_link(field) unless index == 0 %>
        <%= field_move_down_link(field) unless index == fields.size - 1 %>
      </td>
      <td>
        <%= field.slug %>
      </td>
      <td>
        <%= field.label %>
        <%= field_primary_badge(field) %>
      </td>
      <td>
        <%= t("#{translation_type_name(field)}_field") %>
        <%= field_i18n_badge(field) %>
      </td>
      <td><%= fa_icon(:check) if field.required? %></td>
      <td><%= fa_icon(:check) if field.display_in_list? %></td>
      <td style="text-align: right">
        <% if policy(field).edit? %>
          <%= link_to(
                fa_icon("pencil", :text => t("edit")),
                { :action => :edit, :slug => field },
                :class => "btn btn-default btn-xs") %>
        <% end %>
        <% if policy(field).destroy? %>
          <%= link_to(
                fa_icon("trash-o", :text => t("delete")),
                { :action => :destroy, :slug => field },
                :class => "btn btn-xs btn-text",
                :method => :delete,
                :data => {
                  :confirm => t('.delete_sure?', field: field.name)
                }) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
