<thead>
  <tr>
    <th style="width: 5em">Position</th>
    <th>Slug</th>
    <th><%= t '.name' %></th>
    <th><%= t '.type' %></th>
    <th><%= t '.required?' %></th>
    <th>
      <span
        data-toggle="tooltip"
        data-placement="top"
        title="<%= t('catalog_admin.fields.common_form_fields.include_in_list_view') %>">
        <%= t('.list_view?') %>
      </span>
    </th>
    <th>
      <span
        data-toggle="tooltip"
        data-placement="top"
        title="<%= t('catalog_admin.fields.common_form_fields.include_in_public_list_view') %>">
        <%= t('.public_list_view?') %>
      </span>
    </th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% fields.each_with_index do |field, index| %>
    <tr>
      <td>
        <%= index + 1 %>
        <%= field_move_up_link(field) unless index == 0 %>
        <%= field_move_down_link(field) unless index == fields.size - 1 %>
      </td>
      <td>
        <%= field.slug %>
      </td>
      <td>
        <%= field.label %>
        <%= field_primary_badge(field) %>
        <%= field_restricted_badge(field) %>
      </td>
      <td>
        <%= t("#{translation_type_name(field)}_field") %>
        <%= field_i18n_badge(field) %>
        <%= field_formatted_badge(field) %>
      </td>
      <td><%= fa_icon(:check) if field.required? %></td>
      <td><%= fa_icon(:check) if field.display_in_list? %></td>
      <td><%= fa_icon(:check) if field.display_in_public_list? %></td>
      <td style="text-align: right;">
        <%= render "shared/actions_dropdown", :model => field %>
      </td>
    </tr>
  <% end %>
</tbody>
