<hr>

<% if formatted_option?(f.object) %>
  <div class="d-flex align-items-center">
    <%= f.check_box(:formatted_text, :label => t('.has_formatted_text')) %>
    <span
      style="color: #666;"
      class="ml-2"
      data-toggle="popover"
      title="<%= t('.help_formatted_text_title') %>"
      data-content="<%= t('.help_formatterd_text_content') %>"
    >
      <i class="fa fa-question-circle-o"></i>
    </span>
  </div>
<% end %>

<%= f.number_field(:minimum, :label => t('.min_length')) %>
<%= f.number_field(:maximum, :label => t('.max_length')) %>
<%= field_default_value_input(f) %>
<%= field_i18n_check_box(f) %>

<script>
  $('[data-toggle="popover"]').popover();
</script>