<% provide(:title) do %>
  <b><%= @field_set.name %></b>
  <%= field_set_metadata(@field_set) %>
  <% if seo_indexable_disabled?(@field_set) %>
    <%= tag.span(t(".seo_indexable_badge").downcase, :class => "badge text-bg-info") %>
  <% end %>
<% end %>

<% provide(:actions) do %>
  <%= link_to(
        t('.edit_field_set', field_set: @field_set.model_name.human.downcase),
        edit_field_set_path(@field_set),
        :class => "btn btn-xs btn-text") %>

  <button class="btn btn-xs btn-outline-secondary dropdown-toggle" type="button" id="add-field-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= fa_icon(:"plus-square", :text => t('.add_field')) %>
  </button>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="add-field-dropdown">
    <% Field.type_choices.each do |key, label| %>
      <%= link_to(t("#{translation_type_name(label)}_field"), {:action => :new, :type => key}, class: "dropdown-item") %>
    <% end %>
  </div>
<% end %>

<% provide(:extra_setup_bottom) do %>
  <% if @field_set.class == ItemType && current_user.system_admin? %>
    <hr>
    <h3><%= t('item_views') %></h3>
    <%= render('catalog_admin/item_views/index') %>
  <% end %>
<% end %>

<div class="table-index">
  <table class="table" id="fields">
    <%= render("table") %>
  </table>
</div>
