<% provide(:title) do %>
  <b><%= @field_set.name %></b>
  <%= field_set_metadata(@field_set) %>
<% end %>

<% provide(:actions) do %>
  <%= link_to(
        t('.edit_field_set', field_set: @field_set.model_name.human.downcase),
        edit_field_set_path(@field_set),
        :class => "btn btn-xs btn-text") %>

  <span class="dropdown">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="add-field-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= fa_icon(:"plus-square", :text => t('.add_field')) %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="add-field-dropdown">
      <% Field.type_choices.each do |key, label| %>
        <li>
          <%= link_to(t(".#{label.sub(' ', '_').downcase}_field"), { :action => :new, :type => key }) %>
        </li>
      <% end %>
    </ul>
  </span>
<% end %>

<% provide(:extra_setup) do %>
  <% if @field_set.class == ItemType %>
    <hr>
    <h3>Item views</h3>
    <%= render('catalog_admin/item_views/index') %>
  <% end %>
<% end %>

<div style="min-height: 350px;">
  <table class="table" id="fields">
    <%= render("table") %>
  </table>
</div>

