<% provide(:title, "New #{@field.type_name.downcase} field") %>

<%= bootstrap_form_for(
      @field,
      :as => :field,
      :url => catalog_admin_item_type_fields_path(catalog, @item_type)
      ) do |f| %>

  <%= hidden_field_tag(:type, params[:type]) %>

  <%= f.text_field(:name, :autofocus => true) %>
  <%= f.text_field(:name_plural, :label => "Name (plural)") %>
  <%= f.text_field(:slug, :label => "Slug (singular)", :help => slug_help_text) %>
  <%= f.text_area(:comment, :label => "Comment (optional)") %>

  <hr>

  <h4>Display options</h4>

  <%= f.form_group(:primary) do %>
    <%= f.check_box(
          :primary,
          :label => "Use this as the primary field for #{@item_type.name_plural}"
        ) %>
  <% end %>
  <%= f.form_group(:display_in_list) do %>
    <%= f.check_box(
          :display_in_list,
          :label => "Include this field in list view"
        ) %>
  <% end %>

  <hr>

  <h4>Data entry options</h4>

  <%= field_style_select(f) %>

  <%= f.form_group(:unique) do %>
    <%= f.check_box(
          :unique,
          :label => "Must be unique (among all #{@item_type.name_plural})") %>
  <% end %>

  <%= render_catalog_admin_fields_option_inputs(f) %>

  <hr>

  <%= f.primary("Create field") %>
  <%= link_to(
        "Cancel",
        catalog_admin_item_type_fields_path, :class => "btn btn-link") %>

<% end %>
