<%= render 'admin/shared/log_navbar' %>
<div class="card panel-default catalogs">
  <table class="table">
    <thead>
    <tr>
      <th><%= EntryLog.human_attribute_name(:author) %></th>
      <th><%= EntryLog.human_attribute_name(:subject_type) %></th>
      <th><%= EntryLog.human_attribute_name(:subject) %></th>
      <th><%= EntryLog.human_attribute_name(:action) %></th>
      <th><%= EntryLog.human_attribute_name(:created_at) %></th>
      <th><%= EntryLog.human_attribute_name(:record_changes) %></th>
    </tr>
    </thead>
    <tbody>
    <% if @entry_logs.load.any? %>
      <% @entry_logs.each do |entry_log| %>
        <tr style="<%= entry_log.action == "DELETE" ? 'text-decoration: line-through;' : '' %>" data-controller="toggle-display">

          <td><%= entry_log.author.email %></td>
          <td><%= entry_log.subject_type %></td>
          <td>
            <%= entry_log.subject_id %>
            <%= "(#{truncate(entry_log.subject&.log_name)})" unless entry_log.subject&.log_name.nil? %>
          </td>
          <td><%= entry_log.action %></td>
          <td><%= l(entry_log.created_at) %></td>
          <td>
            <% if entry_log.action != 'DELETE' %>
              <%= fa_icon(:eye, "data-action": "click->toggle-display#reveal") %>
            <% end %>
            <div data-toggle-display-target="revealable">
              <pre>
                <% changes = entry_log.record_changes  %>
                <% changes.delete("search_data_de")  %>
                <% changes.delete("search_data_en")  %>
                <% changes.delete("search_data_fr")  %>
                <% changes.delete("search_data_it")  %>
                <%= JSON.pretty_generate(changes) %>
              </pre>
            </div>
          </td>
          <td></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <%= t('catalog_admin.catalog.no_entry_logs') %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate(@entry_logs) %>
