<li class="dropdown nav-item">
  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Admin</a>

  <div class="dropdown-menu">
    <%# Catalog data entry %>
    <% if admin_menu_item_types.any? %>
      <div class="dropdown-header">
        <%= fa_icon(:book, :text => "Catalog data") %>
      </div>
      <% admin_menu_item_types.each do |item_type| %>
        <%= link_to(
              item_type.name_plural,
              catalog_admin_items_path(catalog, item_type), class: "dropdown-item") %>
      <% end %>
    <% end %>

    <%# Catalog setup %>
    <% if catalog_admin? %>
      <div role="separator" class="dropdown-divider"></div>
      <%= link_to(catalog_admin_setup_path(catalog), class: "dropdown-item") do %>
        <%= fa_icon(:wrench, :text => "Catalog setup") %>
      <% end %>
    <% end %>

    <% if viim_admin? %>
      <% if catalog_admin? %>
        <div role="separator" class="dropdown-divider"></div>
      <% end %>
      <%= link_to(admin_dashboard_path, class: "dropdown-item") do %>
        <%= fa_icon(:cogs, :text => "CATIMA admin") %>
      <% end %>
    <% end %>
  </div>
</li>
