<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Admin
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">
    <%# Catalog data entry %>
    <% if admin_menu_item_types.any? %>
      <li class="dropdown-header">
        <%= fa_icon(:book, :text => "Catalog data") %>
      </li>
      <% admin_menu_item_types.each do |item_type| %>
        <li>
          <%= link_to(
                item_type.name_plural,
                catalog_admin_items_path(catalog, item_type)) %>
        </li>
      <% end %>
    <% end %>

    <%# Catalog setup %>
    <% if catalog_admin? %>
      <li role="separator" class="divider"></li>
      <li>
        <%= link_to(catalog_admin_setup_path(catalog)) do %>
          <%= fa_icon(:wrench, :text => "Catalog setup") %>
        <% end %>
      </li>
    <% end %>

    <% if viim_admin? %>
      <% if catalog_admin? %>
        <li role="separator" class="divider"></li>
      <% end %>
      <li>
        <%= link_to(admin_dashboard_path) do %>
          <%= fa_icon(:cogs, :text => "CATIMA admin") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
