<p><%= t("common.greeting") %>,</p>

<p><%= t(".requested_a_link") %></p>

<p><%= link_to(
         t(".change_my_password"),
         edit_password_url(
           @resource,
           :reset_password_token => @token,
           :locale => @resource.primary_language
         )) %></p>

<p><%= t(".please_ignore") %></p>
<p><%= t(".wont_change") %></p>
