<% provide(:title, "Edit user") %>

<%= bootstrap_form_for([:admin, @user]) do |f| %>

  <%= render("common_form_fields", :f => f) %>

  <hr>

  <%# This whole section is hidden when "system admin" is checked %>
  <div data-edit-permissions>
    <label>Catalog permissions</label>
    <p class="help-block">
      <%= t('catalog_admin.users.common_form_fields.user_role').html_safe %>
      <%= t('catalog_admin.users.common_form_fields.member_role').html_safe %>
      <%= t('catalog_admin.users.common_form_fields.editor_role').html_safe %>
      <%= t('catalog_admin.users.common_form_fields.super_editor_role').html_safe %>
      <%= t('catalog_admin.users.common_form_fields.reviewer_role').html_safe %>
      <%= t('catalog_admin.users.common_form_fields.admin_role').html_safe %>
    </p>

    <table class="table table-striped">
      <tbody>
        <%= render_admin_users_nested_permissions(f) %>
      </tbody>
    </table>

    <hr>
  </div>

  <%= f.primary("Update user") %>
  <%= link_to "Cancel", admin_dashboard_path, :class => "btn btn-link" %>

<% end %>
