<% provide(:title, "Edit user") %>

<%= bootstrap_form_for([:admin, @user]) do |f| %>

  <%= render("common_form_fields", :f => f) %>

  <hr>

  <%# This whole section is hidden when "system admin" is checked %>
  <div data-edit-permissions>
    <label>Catalog permissions</label>
    <p class="help-block">
      <b>Users</b> can view the public areas of the non-restricted catalogs.<br>
      <b>Members</b> are users that can view the public areas of a restricted catalog (coming soon).<br>
      <b>Editors</b> are members that can create and edit their own items in the catalog.<br>
      <b>Super-editors</b> are editors that can create and edit all the items in the catalog.<br>
      <b>Reviewers</b> are super-editors that can approve items to make them visible to the public.<br>
      <b>Admins</b> can do all these things, plus change the catalog design and manage users.
    </p>

    <table class="table table-striped">
      <tbody>
        <%= render_admin_users_nested_permissions(f) %>
      </tbody>
    </table>

    <hr>
  </div>

  <%= f.primary("Update user") %>
  <%= link_to "Cancel", admin_dashboard_path, :class => "btn btn-link" %>

<% end %>
