<% provide(:title, t('.add_members_to_group', group: @group.name)) %>


<div class='panel-body'>
  <%= bootstrap_form_for(@membership, url:catalog_admin_group_memberships_path) do |f| %>

    <%= f.form_group do %>
      <label class="control-label required" for="members_to_invite"><%= t('.members_emails') %></label>
      <p><%= t('.one_mail_per_line') %></p>
      <%= text_area('members_to_invite', '', style: 'width: 300px;', rows: 5) %>
    <% end %>

    <hr/>

    <%= f.primary(t('.add_members')) %>
    <%= link_to(
            t('cancel'),
            catalog_admin_group_path(id: @group.id),
            class: 'btn btn-link') %>
  <% end %>
</div>
