<p>
  <%= t(".info_you_will_need") %>
</p>

<p>
  <b><%= t(".url") %>:</b>
  <%= link_to(
        new_user_session_url(:locale => @user.primary_language),
        new_user_session_url(:locale => @user.primary_language)) %>
  <br>
  <b><%= t(".email") %>:</b> <%= @user.email %><br>
  <b><%= t(".password") %>:</b>
  <%= link_to(
        t(".set_your_password"),
        edit_user_password_url(
          :locale => @user.primary_language,
          :reset_password_token => @token
        )) %>
</p>
