<p><%= t('common.greeting') %>,</p>

<p>
  <%= t('.invited_to_msg_html',
        invited_by: @invited_by.email,
        group: @group.name,
        catalog: link_to(
          @catalog.name,
          catalog_home_url(catalog_slug: @catalog.slug)
        )
      ) %>
</p>

<% unless @registered %>
  <p>
    <%= t('.no_account_yet') %>
  </p>
<% end %>

<p>
  <%= t('.view_my_groups') %>
  <%= link_to(
        memberships_url(:locale => @user.primary_language),
        memberships_url(:locale => @user.primary_language)
      ) %>
</p>
