<p><%= t("common.greeting") %>,</p>

<p>
  <%# TODO: make catalog a hyperlink %>
  <%= t(".invited_to_access_html",
        :invited_by => @invited_by.email,
        :catalog => @catalog.name) %>

  <% case(@role) %>
  <% when "editor" %>
    <%= t(".editor_role") %>
  <% when "reviewer" %>
    <%= t(".reviewer_role") %>
  <% end %>
</p>

<%= render("account_information") %>
