<% provide(:title, t(".new_choice")) %>
<div class="card-body ">
  <%= bootstrap_form_for(
        @choice,
        :url => catalog_admin_choice_set_choices_path) do |f| %>
    <div class="mb-4">
      <%= select2_select(f, :parent_id, @choice_set.flat_ordered_choices.filter { |choice| choice.id != @choice.id }.map { |choice| [@choice_set.choice_prefixed_label(choice), choice.id] }, include_blank: ' ') %>
    </div>
    <div class="mb-4">
      <%= f.select :position, [[t('.position.first'), :first], [t('.position.last'), :last]] %>
    </div>
    <%= render("catalog_admin/choices/choice_fields", :f => f) %>

    <hr>
    <%= f.primary(t(".create_choice")) %>
    <%= link_to(
          t("cancel"),
          edit_catalog_admin_choice_set_path(
            @choice_set.catalog,
            I18n.locale,
            @choice_set),
          :class => "btn btn-link") %>
  <% end %>
</div>
