<% provide(:extra_admin_head) do %>
  <%= stylesheet_link_tag('admin', media: 'all') %>
  <%= javascript_include_tag('admin-core', media: 'all') %>
  <%= javascript_include_tag('admin', media: 'all') %>
<% end %>

<div class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md" role="navigation">
  <div class="container-lg">
    <%= link_to(admin_dashboard_path, :class => "navbar-brand mr-auto") do %>
      <%= fa_icon(:cogs, :text => "CATIMA admin") %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse  justify-content-end">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to(root_path, class: "nav-link") do %>
            <%= fa_icon(:"sign-out") %>
            Exit to home page
          <% end %>
        </li>
        <%= render("shared/navbar/user_menu") %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= render("shared/flash") %>
  <%= yield %>
</div>

<div class="footer" style="min-height: 30px;"></div>

<% parent_layout "base" %>
