<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to(admin_dashboard_path, :class => "navbar-brand") do %>
        <%= fa_icon(:cogs, :text => "CATIMA admin") %>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to(root_path) do %>
          <%= fa_icon(:"sign-out") %>
          Exit to home page
        <% end %>
      </li>
      <%= render("shared/navbar/user_menu") %>
    </ul>
  </div>
</div>

<div class="container">
  <%= render("shared/flash") %>
  <%= yield %>
</div>

<div class="footer" style="min-height: 30px;"></div>

<% parent_layout "base" %>
