<%# The "application" layout is the default layout for public-facing views. %>

<%= render("shared/navbar") if catalog_scoped? %>

<div class="container">

  <%= yield(:extra_nav) %>
  <%= render("shared/flash") %>
  <%= render("shared/page_header") %>

  <%= yield %>

  <%= render("shared/footer") %>

</div>

<% parent_layout "base" %>
