<%# The "application" layout is the default layout for public-facing views. %>
<% provide(:extra_css) do %>
  <%= render("shared/catalog_css") if catalog_scoped? %>
<% end %>

<%= render("shared/navbar") if catalog_scoped? || user_scoped? %>

<% if catalog_scoped? %>
  <div class="container-lg mt-3">
    <%= render 'shared/messages', context: :public, catalog: catalog %>
  </div>
<% end %>

<div class="container">

  <%= render("shared/flash") %>
  <%= yield(:extra_nav) %>
  <%= render("shared/page_header") %>

  <%= yield %>

  <%= render("shared/footer") %>

</div>

<% parent_layout "base" %>
