<%# The "base" layout contains boilerplate common to *all* views. %>
<!DOCTYPE html>
<html>
  <head>
    <!-- Viim Core <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%# Include jQuery and some other libraries that are used both in Rails and React JS %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.6/jquery.minicolors.min.css" integrity="sha256-2RwM3b9l2phMxtm6wE9pe2qUDY4J+IONK0lyuXH9mzM=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.6/jquery.minicolors.min.js" integrity="sha256-V5ebkEjJU7qHZIKg2pzzKiH/Ghw1AJgRfKvgMyw09ug=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.css" integrity="sha256-3en7oGyoTD7A1GPFbWeqdIGvDlNWU5+4oWgJQE2dnQs=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.min.js" integrity="sha256-uvqllsjdlExrP0kB/YNZeK+Lt/Knmkf3bPJK+uDiQ8Q=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" integrity="sha256-xJOZHfpxLR/uhh1BwYFS5fhmOAdIRQaiOul5F/b7v3s=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" integrity="sha256-FA14tBI8v+/1BtcH9XtJpcNbComBEpdawUZA6BPXRVw=" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag("application", :media => "all") %>

    <%= javascript_include_async_tag("application") %>

    <%= javascript_pack_tag 'public-bundle' %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# Specifies the default name of home screen bookmark in iOS 6+ %>
    <meta name="apple-mobile-web-app-title" content="CATIMA">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

    <%= csrf_meta_tags %>

    <title>
      <% if content_for?(:title) %>
        <%= strip_tags(yield(:title)) %>
      <% else %>
        CATIMA
      <% end %>
    </title>

    <%= yield(:extra_css) %>
  </head>
  <body>
    <%= environment_clue %>

    <%= yield %>

    <% if Rails.env.development? %><script type="text/javascript">DBG = {};</script><% end %>
  </body>
</html>
