<%# The "base" layout contains boilerplate common to *all* views. %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <!-- Catima <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= javascript_include_tag('application-core', media: 'all') %>

    <%= yield(:extra_admin_head) %>

    <%= javascript_include_tag('application') %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'server_rendering' %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="CATIMA">

    <%= csrf_meta_tags %>

    <title>
      <% if content_for?(:title) %>
        <%= strip_tags(yield(:title)) %>
      <% else %>
        CATIMA
      <% end %>
    </title>

    <%= yield(:extra_css) %>
  </head>
  <body>
    <%= environment_clue %>

    <%= yield %>
  </body>
</html>
