<%# The "base" layout contains boilerplate common to *all* views. %>
<!DOCTYPE html>
<html>
  <head>
    <!-- Viim Core <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%# Include jQuery and some other libraries that are used both in Rails and React JS %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <%= yield(:extra_admin_head) %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">

    <%= stylesheet_link_tag("application", :media => "all") %>
    <%= javascript_include_async_tag("application") %>
    <%= javascript_pack_tag 'public-bundle' %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="CATIMA">

    <%= csrf_meta_tags %>

    <title>
      <% if content_for?(:title) %>
        <%= strip_tags(yield(:title)) %>
      <% else %>
        CATIMA
      <% end %>
    </title>

    <%= yield(:extra_css) %>
  </head>
  <body>
    <%= environment_clue %>

    <%= yield %>

    <% if Rails.env.development? %><script type="text/javascript">DBG = {};</script><% end %>
  </body>
</html>
