<% provide(:extra_admin_head) do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.6/jquery.minicolors.min.css" integrity="sha256-2RwM3b9l2phMxtm6wE9pe2qUDY4J+IONK0lyuXH9mzM=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.6/jquery.minicolors.min.js" integrity="sha256-V5ebkEjJU7qHZIKg2pzzKiH/Ghw1AJgRfKvgMyw09ug=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.css" integrity="sha256-3en7oGyoTD7A1GPFbWeqdIGvDlNWU5+4oWgJQE2dnQs=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.min.js" integrity="sha256-uvqllsjdlExrP0kB/YNZeK+Lt/Knmkf3bPJK+uDiQ8Q=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" integrity="sha256-xJOZHfpxLR/uhh1BwYFS5fhmOAdIRQaiOul5F/b7v3s=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" integrity="sha256-FA14tBI8v+/1BtcH9XtJpcNbComBEpdawUZA6BPXRVw=" crossorigin="anonymous"></script>

  <link href="/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet" />
  <script src="/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
  <script src="/jquery-fileupload/js/vendor/load-image.all.min.js"></script>
  <script src="/jquery-fileupload/js/vendor/canvas-to-blob.min.js"></script>
  <script src="/jquery-fileupload/js/jquery.iframe-transport.js"></script>
  <script src="/jquery-fileupload/js/jquery.fileupload.js"></script>
  <script src="/jquery-fileupload/js/jquery.fileupload-process.js"></script>
  <script src="/jquery-fileupload/js/jquery.fileupload-image.js"></script>
  <script src="/jquery-fileupload/js/jquery.fileupload-audio.js"></script>
  <script src="/jquery-fileupload/js/jquery.fileupload-video.js"></script>
  <script src="/jquery-fileupload/js/jquery.fileupload-validate.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<% end %>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(catalog_admin_data_path, :class => "navbar-brand") do %>
        <%= catalog.name %> Admin
      <% end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= navbar_link_to(
              fa_icon(:book, :text => "Data"),
              catalog_admin_contextual_data_path,
              :active_when => {
                :controller => /$?(dashboard)|(items)/
              }) %>
        <% if policy(ItemType).index? %>
          <%= navbar_link_to(
                fa_icon(:wrench, :text => "Setup"),
                catalog_admin_contextual_setup_path,
                :active_when => {
                  :controller => /$(?<!items|dashboard)/
                }) %>
        <% end %>
        <li><a href="/doc/"><%= fa_icon("question-circle", text:"Help") %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to(catalog_home_path(
                        catalog,
                        :locale => current_user.primary_language)) do %>
            <%= fa_icon(:"sign-out") %>
            Return to site
          <% end %>
        </li>
        <% if policy(Configuration).update? %>
          <li>
            <%= link_to(admin_dashboard_path) do %>
              <%= fa_icon(:cogs, :text => "CATIMA admin") %>
            <% end %>
          </li>
        <% end %>
        <%= render("shared/navbar/locale_menu") if params[:locale] %>
        <%= render("shared/navbar/user_menu") %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= render("shared/flash") %>
  <%= yield %>
</div>

<% parent_layout "base" %>
