<% provide(:extra_admin_head) do %>
  <%= stylesheet_link_tag('catalog-admin', media: 'all') %>
  <%= javascript_include_tag('catalog-admin-core', media: 'all') %>
  <%= javascript_include_async_tag('catalog-admin') %>
<% end %>

<div class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md mb-4" role="navigation">
  <div class="container-lg">
    <%= link_to(catalog_admin_data_path, :class => "navbar-brand") do %>
      <%= catalog.name %> Admin
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav mr-auto">
        <%= navbar_link_to(
              fa_icon(:book, :text => "Data"),
              catalog_admin_contextual_data_path,
              :active_when => {
                :controller => /$?(dashboard)|(items)/
              }) %>
        <% if policy(ItemType).index? %>
          <%= navbar_link_to(
                fa_icon(:wrench, :text => "Setup"),
                catalog_admin_contextual_setup_path,
                :active_when => {
                  :controller => /$(?<!items|dashboard)/
                }) %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to(catalog_home_path(
                        catalog,
                        :locale => current_user.primary_language), class: "nav-link") do %>
            <%= fa_icon(:"sign-out") %>
            Return to site
          <% end %>
        </li>
        <% if policy(Configuration).update? %>
          <li class="nav-item">
            <%= link_to(admin_dashboard_path, class: "nav-link") do %>
              <%= fa_icon(:cogs, :text => "CATIMA admin") %>
            <% end %>
          </li>
        <% end %>
        <%= render("shared/navbar/locale_menu") if params[:locale] %>
        <%= render("shared/navbar/user_menu") %>
        <li class="nav-item help">
          <%= link_to(doc_path, html_options = {class: "nav-link"}) do
            fa_icon("question-circle")
          end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= render("shared/flash") %>
  <%= yield %>
</div>

<% parent_layout "base" %>
