
<div class="container" style="min-width: 740px; margin-top: 40px;">

  <%= render("shared/flash") %>

  <div class="row">
    <div class="col-xs-8">
    <%= image_tag('catima-logo-500x58.png', alt:'CATIMA') %>
    </div>
    <div class="col-xs-4 text-right">
      <%= image_tag('unilogo_noir_72dpi.png', alt:'UNIL') %>
    </div>
  </div>

  <hr style="border-color: #058bcc;"/>

  <div class="row" style="min-height: 350px;">
    <div class="col-xs-7">
      <%= yield %>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4" style="padding-top: 20px;">
      <% unless current_user.authenticated? %>
        <a class="btn btn-default" href="/fr/login" role="button">Se connecter / S'enregistrer</a>
        <hr>
      <% end %>

      <p><b>Catalogues disponibles:</b><br/>
      <% @catalogs.where({advertize: true}).each do |catalog| %>
        <%= link_to(catalog.name, catalog_home_path(catalog)) %><br/>
      <% end %>
      </p>
    </div>
  </div>

  <div class="row" style="background-color: #dedede; border-top: 1px solid #999; height: 80px; margin: 40px 0;">
    <div class="col-xs-6" style="text-align: left; font-size: 80%; padding-top: 55px;">
      <% if ENV["APP_VERSION"] %>Version <%= ENV["APP_VERSION"] %> · <%= Time.zone.now.strftime("%Y") %><% end %>
    </div>
    <div class="col-xs-6" style="text-align: right; font-size: 80%; padding-top: 40px;">
      <a href="/admin/" style="color: #000; margin: 0 10px;">Admin</a>
    </div>

    </div>
  </div>

</div>

<% parent_layout "base" %>
